﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="productsearch.aspx.cs" Inherits="productsearch" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        #text
        {
            color: #EBE7EA;
        }
    </style>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    
    <script src="backoffice/js/jquery-1.9.0.min.js"></script>

    <script lang="javascript" type="text/javascript">


        //
        // $('#element').donetyping(callback[, timeout=1000])
        // Fires callback when a user has finished typing. This is determined by the time elapsed
        // since the last keystroke and timeout parameter or the blur event--whichever comes first.
        //   @callback: function to be called when even triggers
        //   @timeout:  (default=1000) timeout, in ms, to to wait before triggering event if not
        //              caused by blur.
        // Requires jQuery 1.7+
        //
       


        $(document).ready(
        function () {


            $("#txtSearch").keyup(
        function () {

          














            }
        }

        );

        }

        );
        
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div id="search">

    <div id="text">
    <input type="text" id="txtSearch"  style="width:300px"/>
    </div>
    
    <div id="result" style="width:400px;height:400px;overflow:scroll">
   <table id="tbKeywordSearch">
  
 
 
 
   </table>
        
    </div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<input id="example" type="text">
<p id="example-output">Event last fired @ Fri, 12 Jun 2015 10:33:42 GMT</p>
    <script type="text/javascript">
        //
        // $('#element').donetyping(callback[, timeout=1000])
        // Fires callback when a user has finished typing. This is determined by the time elapsed
        // since the last keystroke and timeout parameter or the blur event--whichever comes first.
        //   @callback: function to be called when even triggers
        //   @timeout:  (default=1000) timeout, in ms, to to wait before triggering event if not
        //              caused by blur.
        // Requires jQuery 1.7+
        //
        ; (function ($) {
            $.fn.extend({
                donetyping: function (callback, timeout) {
                    timeout = timeout || 1e3; // 1 second default timeout
                    var timeoutReference,
                doneTyping = function (el) {
                    if (!timeoutReference) return;
                    timeoutReference = null;
                    callback.call(el);
                };
                    return this.each(function (i, el) {
                        var $el = $(el);
                        // Chrome Fix (Use keyup over keypress to detect backspace)
                        // thank you @palerdot
                        $el.is(':input') && $el.on('keyup keypress', function (e) {
                            // This catches the backspace button in chrome, but also prevents
                            // the event from triggering too premptively. Without this line,
                            // using tab/shift+tab will make the focused element fire the callback.
                            if (e.type == 'keyup' && e.keyCode != 8) return;

                            // Check if timeout has been set. If it has, "reset" the clock and
                            // start over again.
                            if (timeoutReference) clearTimeout(timeoutReference);
                            timeoutReference = setTimeout(function () {
                                // if we made it here, our timeout has elapsed. Fire the
                                // callback
                                doneTyping(el);
                            }, timeout);
                        }).on('blur', function () {
                            // If we can, fire the event since we're leaving the field
                            doneTyping(el);
                        });
                    });
                }
            });
        })(jQuery);

        $('#txtSearch').donetyping(function () {
            // $('#example-output').text('Event last fired @ ' + (new Date().toUTCString()));
 

            var Keyword = $(this).val();

            if (Keyword.length >= 3) {


                $.ajax({
                    type: "POST",
                    data: '{"Keyword":"' + Keyword + '"}',
                    url: "productsearch.aspx/KeywordSearch",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (msg) {
                        // var obj = jQuery.parseJSON(msg.d);


                        $("#tbKeywordSearch").html(msg.d);








                    }, error: function (xhr, ajaxOptions, thrownError) {

                        var obj = jQuery.parseJSON(xhr.responseText);
                        alert(obj.Message);
                    },
                    complete: function (msg) {


                    }

                });
            }



        });
    </script>

    </form>
</body>
</html>
