﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Shiprocket.aspx.cs" Inherits="Shiprocket" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <title></title>
    
          <script>
              $(document).ready(function () {

                  PostOrderShiprocket();
                  function getOrder() {
                      $.ajax({
                          type: "POST",
                          data: '{"vid":"' + vid + '","qty":"' + qty + '","st":"' + st + '","type":"' + type + '","attr_id":"' + attr_id + '"}',
                          url: "PaymentSuccess.aspx/GetorderData",
                          async: false,
                          contentType: "application/json",
                          dataType: "json",
                          success: function (msg) {


                              var obj = jQuery.parseJSON(msg.d);

                              if (obj.error == 1) {

                                  alert("An Error occured during transaction. Please refresh the page and try again Later.");
                                  return;
                              }

                              BindCartCountClick();
                              Swal.fire({
                                  position: 'center',
                                  icon: 'success',
                                  toast: true,
                                  title: 'Added To Cart!',
                                  showConfirmButton: false,

                                  timer: 1500
                              })
                          },
                          error: function (xhr, ajaxOptions, thrownError) {

                              var obj = jQuery.parseJSON(xhr.responseText);
                              alert(obj.Message);
                          },
                          complete: function (msg) {


                          }

                      });
                  }

                  function PostOrderShiprocket() {
                      var token = "";


                      $.ajax({
                          url: 'https://apiv2.shiprocket.in/v1/external/auth/login?email=rahulthakur9942@gmail.com&password=Ebsretail1952@',

                          type: 'POST',

                          dataType: 'json',

                          success: function (data, textStatus, xhr) {

                              token = data.token;
                              //var jsonData = JSON.stringify({ "order_id": $("#hdnorderid").val(), "order_date": orderdate, "pickup_location": "Primary", "comment": "Reseller: M/s Goku", "billing_customer_name": firstname, "billing_last_name": '', "billing_address": address, "billing_address_2": "", "billing_city": city, "billing_pincode": pincode, "billing_state": state, "billing_country": "India", "billing_email": email, "billing_phone": phoneno, "shipping_is_billing": true, "shipping_customer_name": firstname, "shipping_last_name": lastname, "shipping_address": address, "shipping_address_2": "", "shipping_city": city, "shipping_pincode": pincode, "shipping_country": "", "shipping_state": state, "shipping_email": email, "shipping_phone": phoneno, "order_items": Orderdetail, "payment_method": paymode, "shipping_charges": shipping_charges, "giftwrap_charges": 0, "transaction_charges": 0, "total_discount": discountamt, "sub_total": subtotal, "weight": 0.5, "length": 10, "breadth": 10, "height": 10 });
                              var settings = {
                                  "async": true,
                                  "crossDomain": true,
                                  "url": "https://apiv2.shiprocket.in/v1/external/orders",
                                  "method": "GET",
                                  "dataType": "json",
                                  "headers": {
                                      "authorization": "Bearer " + token + "",
                                      "content-type": "application/json",
                                      "cache-control": "no-cache",
                                      "postman-token": "f90c527f-b03c-da0e-3956-01a2569d0866"
                                  },
                                  "processData": false,
                                  "data": ''
                              }

                              $.ajax(settings).done(function (response) {
                                  console.log(response);
                              });

                          },
                          error: function (xhr, textStatus, errorThrown) {
                              console.log('Error in Database');


                          }
                      });


                  }
                });
            </script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
