﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master_Page.master" AutoEventWireup="true" CodeFile="termsandconditions.aspx.cs" Inherits="termsandconditions" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
		<link href="customcss/aboutus.css" rel="stylesheet" />
	  <div class="constraint no-padding">
        <div class="breadcrumbs">
            <ul class="breadcrumbs_container">
                <li class="breadcrumbs_item">
                    <a class="breadcrumbs_link" href="/index.aspx">Home</a>
                </li>
                <li class="breadcrumbs_item breadcrumbs_item-active">Terms and Conditions</li>
            </ul>
        </div>
    </div>
	<div class="container-fluid">
		  <h1 class="responsiveProductListHeader_title">Terms and Conditions</h1>
		
		<div class="about-us-content">
			
			<p>This website is owned and managed by EBS RETAIL. By accessing and using the www.ebs1952.com web site, (the "Web Site"), you are agreeing to be legally bound by these Terms & Conditions. The terms "you" and "User" refer to anyone who accesses the Web Site.</p>
			<p>As you browse through the website and EBS RETAIL sites you may access other web sites that are subject to different terms of use. When you use those sites, you will be legally bound by the specific terms of use posted on such sites. If there is a conflict between these Terms &amp; Conditions and the other terms and conditions, the other terms &amp; conditions will govern with respect to use of such pages.</p>
			<p>EBS RETAIL may change these Terms &amp; Conditions at any time without notice. Changes will be posted on the website under "Terms &amp; Conditions".</p>
			<p>Your use of the Web Site after any changes have been posted will constitute your agreement to the modified Terms &amp; Conditions and all of the changes. Therefore, you should read these Terms &amp; Conditions from time to time for changes.</p>
			<h4>USE OF THE WEB SITE</h4>
			<p>EBS RETAIL hereby grants you a non-exclusive, non-transferable, limited license to access and use the Web Site for the fees, if applicable, and under the terms set forth below.</p>
			<p>The Web Site and the content, including, but not limited to, text, data, reports, opinions, images, photos, graphics, graphs, charts, animations and video (the "Content"), displayed on the Web Site, may be used only for your personal and non-commercial use. Except as otherwise permitted under these Terms &amp; Conditions, you agree not to copy, reproduce, modify, create derivative works from, or store any Content, in whole or in part, from the Web Site or to display, perform, publish, distribute, transmit, broadcast or circulate any Content to anyone, or for any commercial purpose, without the express prior written consent of EBS RETAIL</p>
			<p>The Content is the exclusive property of EBS RETAIL or its licensors, and is protected by copyright and other intellectual property laws. All trade names, trademarks, service marks and other product and service names and logos on the Web Site and within the Content are proprietary to their respective owners and are protected by applicable trademark and copyright laws. Any of the trademarks, service marks or logos (collectively, the "Marks") displayed on the Web Site may be registered or unregistered marks of EBS RETAIL or others. Nothing contained on this Web Site should be construed as granting any license or right to use any of the Marks displayed on the Web Site without the express written permission of EBS RETAIL or a third party owner of such Marks. Any unauthorized uses of the Marks or any other Content are strictly prohibited. To request permission to use any Content or other Name of the Company material, please contact EBS RETAIL at info@ebs1952.com</p>
			<p>You may not use the Web Site for any unlawful purpose. You shall honor all reasonable requests by the website to protect EBS RETAIL’s proprietary interests in the website.</p>

			<h4>REGISTRATION</h4>
			<p>As part of the registration process, you must select a username and password and provide the website with accurate, complete, and updated information. Failure to do so constitutes a breach of this Agreement, which may result in immediate termination of your access.</p>
			<h4>LIMITATION OF LIABILITY</h4>
			<p>You are entirely liable for activities conducted by you in connection with your browsing and use of the Web Site. If you are dissatisfied with the Content or the Web Site or with these Terms of Use, your sole and exclusive remedy is to stop using the Content and the Web Site. The website will not pay you any damages in connection with your browsing or use of the Web</p>
			<p>Due to the number of sources from which the Content is obtained and the potential hazards of electronic distribution, there may be delays, omissions or inaccuracies in such Content and the Web Site. THE CONTENT AND THE WEB SITE ARE PROVIDED "AS IS", WITHOUT ANY WARRANTIES. NEITHER THE WEBSITE NOR EBS RETAIL MAKES ANY GUARANTEES OR WARRANTIES AS TO THE ACCURACY, COMPLETENESS, TIMELINESS OR CURRENTNESS OF OR RESULTS TO BE OBTAINED FROM, ACCESSING AND USING THE WEB SITE, THE WEB SITE'S OWN CONTENT, THE OTHER CONTENT, NOR ANY MATERIAL THAT CAN BE ACCESSED (VIA A DIRECT OR INDIRECT HYPERLINK OR OTHERWISE) THROUGH THE WEB SITE. THE WEBSITE HEREBY DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR USE AND OF NON- INFRINGEMENT. NEITHER THE WEBSITE NOR EBS RETAIL SHALL BE LIABLE TO THE USER OR ANYONE ELSE FOR ANY INACCURACY, DELAY, INTERRUPTION IN SERVICE, ERROR OR OMISSION, REGARDLESS OF CAUSE, OR FOR ANY DAMAGES RESULTING THEREFROM. IN NO EVENT WILL THE WEBSITE, EBS RETAIL NOR ANY OF THEIR THIRD PARTY LICENSORS BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL OR CONSEQUENTIAL DAMAGES, INCLUDING BUT NOT LIMITED TO, LOST TIME, LOST MONEY, LOST PROFITS OR GOOD WILL, WHETHER IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, AND WHETHER OR NOT SUCH DAMAGES ARE FORESEEN OR UNFORESEEN WITH RESPECT TO ANY USE OF THE WEB SITE. NEITHER THE WEBSITE NOR ANY OF ITS AFFILIATES, AGENTS OR LICENSORS WILL BE LIABLE TO YOU OR ANYONE ELSE FOR ANY LOSS OR INJURY RESULTING FROM USE OF THE WEB SITE, IN WHOLE OR PART, WHETHER CAUSED BY NEGLIGENCE, CONTINGENCIES BEYOND ITS CONTROL IN PROCURING, COMPILING, INTERPRETING, REPORTING OR DELIVERING THE WEB SITE AND ANY CONTENT AT THE WEB SITE OR OTHERWISE. IN NO EVENT WILL THE WEBSITE, ITS AFFILIATES, AGENTS OR LICENSORS BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DECISION MADE OR ACTION TAKEN BY YOU IN RELIANCE ON SUCH CONTENT OR THE WEB SITE.</p>
			<p>The website assumes no responsibility for the use of third party software on the website and shall have no liability whatsoever to any person or entity for the accuracy or completeness of any outcome generated by such software.</p>

			<h4>LINKS TO OTHER WEB SITES</h4>
			<p>You may, through hypertext or other computer links, gain access to web sites operated by persons other than the website Such hyperlinks are provided for your reference and convenience only, and are the exclusive responsibility of such web sites' owners. You agree that the website is not responsible for the content or operation of such web sites, and that the website shall have no liability to you or any other person or entity for the use of third party web sites. Except as described below, a hyperlink from this Web Site to another web site does not imply or mean that the website endorses the content on that web site or the operator or operations of that site. You are solely responsible for determining the extent to which you may use any content at any other web sites to which you link from the Web Site.</p>
			<h4>ADDITIONAL LEGAL TERMS</h4>
			<p>This Agreement will continue until terminated by either ebs retail or you. Either party can terminate the Agreement by notifying the other party by telephone or electronic mail of the decision to terminate.</p>
			<p>Ebs retail may discontinue or change the Web Site or its availability to you, at any time.</p>
			<p>This Agreement constitutes the entire agreement between the parties relating to Web site and supersedes any and all other agreements, oral or in writing, with respect to the Web Site. The failure of the website, to insist upon strict compliance with any term of this Agreement shall not be construed as a waiver with regard to any subsequent failure to comply with such term or provision. This Agreement is personal to you, and you may not assign your rights or obligations to anyone. If any provision in this Agreement is invalid or unenforceable under applicable law, the remaining provisions will continue in full force and effect. This Agreement, your rights and obligations, and all actions contemplated by this Agreement shall be governed by the laws of Chandigarh, India and subject to jurisdiction of courts of Chandigarh, as if the Agreement was a contract wholly entered into and wholly performed within Chandigarh, and any litigation related to this Agreement shall be brought exclusively in the courts of Chandigarh. All rights not expressly granted herein are reserved.</p>
			<h4>ANTI-HACKING PROVISION</h4>
			<p>You expressly agree not to use this Web Site in any manner or for any purpose that is prohibited by these terms and conditions. In addition, you expressly agree not to:</p>
			<p>(1) use the Web Site for any purpose that is prohibited by any law or regulation, or to facilitate the violation of any law or regulation;</p>
			<p>(2) use or attempt to use any "deep-link," "scraper," "robot," "bot," "spider," "data mining," "computer code" or any other automated device, program, tool, algorithm, proc-ess or methodology or manual process having similar processes or functionality, to access, ac-quire, copy, or monitor any portion of the Web Site or any data or content found on or accessed through the Web Site without prior express written consent;</p>
			<p>(3) obtain or attempt to obtain through any means any materials or information on the Web Site that have not been intentionally made publicly available either by their public display on the Web Site or through their accessibility by a visible link on the Web Site;</p>
			<p>(4) in any way bypass or circumvent any other measure employed to limit or pre-vent access to the Web Site or its content;</p>
			<p>(5) violate the security of the Web Site or attempt to gain unauthorized access to the Web Site, data, materials, information, computer systems or networks connected to any server associated with this Web Site, through hacking, password mining or any other means;</p>
			<p>(6) interfere or attempt to interfere with the proper working of the Web Site or any activities conducted on or through the Web Site, including accessing any data, content or other information prior to the time that it is intended to be available to the public on the Web Site;</p>
			<p>(7) take or attempt any action that, in the sole discretion of this Web Site's operators, imposes or may impose an unreasonable or disproportionately large load or burden on the Web Site or such operation's infrastructure.</p>

			<h4>USER RIGHTS</h4>
			<p>The User grants to EBS RETAIL the non-exclusive right to use all material entered into the Web site by the User (other than third-party material transmitted through private electronic mail) in any of ebs retail's print or electronic publications ("Other Content").</p>
			<p>Users entering material into the Web site are responsible for the Other Content. Neither the website nor EBS RETAIL has any responsibility for Other Content, including the content of any messages or information posted by Users or others, or for the content of information accessible via direct or indirect hyperlinks from the Web Site. However, the website retains the right, which it may or may not exercise in its sole discretion ,to review, edit, or delete Other Content that the website deems to be illegal, offensive, or otherwise inappropriate.</p>
			<p>You may not input or distribute any material through the Web Site that is promotional in nature, including solicitations for funds or business, without the prior written authorization of the website.</p>
			<p>The User agrees to indemnify the website and EBS RETAIL from all damages, liabilities, costs, charges and expenses, including reasonable attorneys' fees, that the website, EBS RETAIL, their affiliates, employees, and authorized representatives may incur as a result of either: (i) the User's breach of this Agreement; or (ii) material entered into the Web site with the use of the User's screen name or password.</p>

			<h4>PAYMENTS, CANCELLATION & REFUNDS</h4>
			<p>All information, reports, content and access rights purchased on the website are non refundable.</p>
			<p>We as a merchant shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any Transaction, on Account of the Cardholder having exceeded the preset limit mutually agreed by us with our acquiring bank from time to time.</p>

			

		</div>
		
	</div>
</asp:Content>

