﻿.about-banner-section {
    float: left;
    width: 100%;
}
.about-banner-section img{
    width: 100%;
}
.about-us-content {
    float: left;
    width: 100%;
}
.about-us-content h2 {
    font-family: "Work Sans",sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 600;
}
.about-us-content h4 {
    font-family: "Work Sans",sans-serif;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 600;
}
.about-us-content p {
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
    width: 100%;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
}
.expect-section {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.expect-section h1{
	font-family: "Work Sans",sans-serif;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 600;
}
.expect-section h3{
	font-family: "Work Sans",sans-serif;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 400;
}
.about-img {
    float: left;
    width: 100%;
}
.about-img img{
    width: 100%;
}

ul.about-ul {
    padding-left: 40px;
}

ul.about-ul li{
  font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
    width: 100%;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
	list-style:disc;
}