﻿.showPasswordToggleComponent_checkbox:checked+.showPasswordToggleComponent_switch {
    background: #1e8ece;
    transition: background .3s;
}
.btn-continue,.btn-continue:hover{
	  background: #1e8ece ;
	  border-color: #1e8ece;
	  color:#fff;
}