﻿h2.shipping-heading {
    font-family: "Work Sans",sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    text-align: center;
    text-transform: none;
}
.form-horizontal.shipping-frm {
    border: 1px solid #c4c4c4;
    padding: 30px;
    margin-bottom: 20px;
}
.form-horizontal.shipping-frm .control-label {
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
     text-align: left;
    font-weight: 400!important;
    padding-top: 8px;
    float: left;
    padding-bottom: 8px;
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.shipping-frm .form-control {
    box-sizing: border-box;
    font-family: "Work Sans",sans-serif;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    padding: 7px;
    background-color: #fff;
    outline: 0;
    display: inline-block;
    height: 32px;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 8px;
}
textarea#txtAddress {
    height: 80px;
}
.shipping-frm button.btn {
    background-color: #1e8ece !important;
    border:2px solid #1e8ece !important;
    color: #fff !important;
    font-family: "Work Sans",sans-serif;
    font-size: 15px;
    letter-spacing: .19px;
    text-transform: uppercase;
}


.order-head{
 font-family: "Work Sans",sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    text-align: center;
    text-transform: none;
}
.order-summary {
    float: left;
    width: 100%;
    border: 1px solid #c4c4c4;
    padding: 30px 10px;
	height: 450px;
    overflow-y: auto;
  
}
.order-summary h3{
    font-family: "Work Sans",sans-serif;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 600;
    margin:0 0 10px;
    /*border-bottom:1px solid #c4c4c4;*/
	float:left;
	width:100%;
}
span.cartcount{
	 font-family: "Work Sans",sans-serif;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 600;
    margin:0 0 10px;
  
}
.order-details {
    float: left;
    width: 100%;
}
.order-img {
    float: left;
    width: 35%;
}
.order-desc {
    width: 50%;
    float: left;
}
.order-desc h2 {
	font-family: "Work Sans",sans-serif;
	font-weight:600;
    font-size: 15px;
    margin: 0 0 10px;
}
.order-desc p {
	font-family: "Work Sans",sans-serif;
	font-size: 15px;
}
.order-price {
    float: left;
    width: 15%;
	font-family: "Work Sans",sans-serif;
	font-size: 16px;
}
.order-basket span {
    font-family: "Work Sans",sans-serif;
    font-weight: 600;
    font-size: 16px;
}
	
.mycartminus,.mycartadd {
    border: 1px solid #333;
    width: 20px;
    height: 20px;
	margin:0 10px;
  
}

.order-heading-div {
    float: left;
    width: 100%;
    padding-bottom:10px;
}
.order-heading-div div{
	float:left;
	font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
}
img.responsiveBasket_image.small-img {
    width: 80px !important;
    height: 60px !important;
    margin-right: 10px;
}
a.responsiveBasket_imageLink {
    margin-right: 10px !important;
}
.responsiveBasket_quantityInput.auto-quantity-value {
    display: inherit;
    padding: 0;
    width: 100px;
    float: left;
}
.responsiveBasket_bodyItem-subTotal,.responsiveBasket_itemName {
     font-size: 14px;
}
/*.order-item {
    width: 223px;
}*/
.order-item {
	width: 47%;
}
/*.order-price {
    width: 74px;
}*/
.order-price {
    width: 14%;
}
/*.order-qty {
    width: 96px;
}*/
.order-qty {
    width: 18%;
}
.order-subtotal {
    width: 96px;
}
.order-summary-basket{
	float: left;
    width: 100%;
    border: 1px solid #c4c4c4;
    padding: 30px 10px;
	margin-top:20px;
	margin-bottom:20px;
}
.order-basket {
    float: left;
    width: 100%;
    text-align: center;
}
.responsiveBasket_removeItem {
	height: 20px;
	width: 20px;
   
}
.responsiveBasket_cross {
    height: 12px;
    width: 12px;
}
/*----responsive----*/
@media(max-width:480px){
	.order-item {
		width: 22%;
	}
	.order-qty {
		width: 28%;
	}
	.order-subtotal {
		width: 50%;
		text-align: right;
	}
}
@media(min-width:481px) and (max-width:539px){
	.order-item {
		width: 22%;
	}
	.order-qty {
		width: 28%;
	}
	.order-subtotal {
		width: 50%;
		text-align: right;
		padding-right: 28px;
	}
}
@media(min-width:540px) and (max-width:667px){
	.order-item {
		width: 58%;
	}
	.order-qty {
		width: 23%;
	}
	.order-subtotal {
		width: 10%;
		text-align: right;
	}
}
@media(min-width:668px) and (max-width:767px){
	.order-item {
		width: 60%;
	}
	.order-qty {
		width: 22%;
	}
	.order-subtotal {
		width: 10%;
		text-align: right;
	}
}
@media(min-width:768px) and (max-width:809px){
	.order-item {
		width: 62%;
	}
	.order-qty {
		width: 20%;
	}
	.order-subtotal {
		width: 10%;
		text-align: right;
	}
}

@media(max-width:809px){
	.order-price {
		display: none;
	}
}
@media(min-width:810px) and (max-width:899px)
{
	.order-item {
		width: 51%;
	}
	.order-price {
		width: 13%;
	}
	.order-qty {
		width: 16%;
	}
}
@media(min-width:768px) and (max-width:899px)
{
	.add-cst-col {
		width: 100%;
	}
}
@media(min-width:900px) and (max-width:991px){
	img.responsiveBasket_image.small-img {
		width: 60px !important;
		height: 60px !important;
		margin-right: 5px;
	}
	.responsiveBasket_bodyItem-subTotal, .responsiveBasket_itemName {
		font-size: 12px;
	}
	.responsiveBasket_bodyItem-unitPrice {
		font-size: 12px !important;
	}
	.order-heading-div div {
		font-size: 14px;
	}
	.order-item {
		width: 40%;
	}
	.order-price {
		width: 16%;
	}
	.order-qty {
		width: 13%;
	}
	.order-subtotal {
		width: 96px;
		text-align: right;
	}
}
@media(min-width:992px) and (max-width:1100px)
{
	a.responsiveBasket_imageLink {
		margin-right: 0px !important;
	}
	.responsiveBasket_bodyItem-subTotal, .responsiveBasket_itemName {
		font-size: 13px;
	}
	.responsiveBasket_bodyItem-unitPrice {
		font-size: 13px !important;
	}
	img.responsiveBasket_image.small-img {
		width: 70px !important;
		height: 60px !important;
		margin-right: 5px;
	}
	.order-heading-div div {
		font-size: 14px;
	}
	.order-item {
		width: 40%;
	}
	.order-price {
		width: 16%;
	}
	.order-qty {
		width: 13%;
	}
	.order-subtotal {
		width: 96px;
		text-align: right;
	}
}
@media(min-width:1101px) and (max-width:1200px)
{
	.order-item {
		width: 42%;
	}
	.order-price {
		width: 16%;
	}
	.order-qty {
		width: 14%;
	}
	.order-subtotal {
		width: 96px;
		text-align: right;
	}
}
@media(min-width:1201px) and (max-width:1300px){
	.order-item {
		width: 45%;
	}
	.order-qty {
		width: 19%;
	}
}
/*----responsive----*/