﻿.blog {
    float: left;
    width: 100%;
    padding-top: 30px;
}
h2.blog-title {
    font-family: "Work Sans",sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 16px;
    padding-left: 10px;
}
.post-info {
    float: left;
    width: 100%;
}
.item.post-posed-date {
    float: left;
    width: auto;
	 font-family: "Work Sans",sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    letter-spacing: 0;
    color: #333 !important;
    font-weight: 400 !important;
    text-transform: none;
    text-align: left;
}
.blog span.label {
    color: #333;
	 font-family: "Work Sans",sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    letter-spacing: 0;
    color: #333 !important;
    font-weight: 600 !important;
    text-transform: none;
    text-align: left;
	padding-right:0;
}
.item.post-categories {
    float: left;
    width: auto;
	 font-family: "Work Sans",sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    letter-spacing: 0;
    color: #333 !important;
    font-weight: 400 !important;
    text-transform: none;
    text-align: left;
}
.item.post-categories a{
	color:#333;
}
.item.post-author {
    float: left;
    width: auto;
	 font-family: "Work Sans",sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    letter-spacing: 0;
    color: #333 !important;
    font-weight: 400 !important;
    text-transform: none;
    text-align: left;
}
.item.post-author a{
	color:#333;
}
.blog-img-div {
    float: left;
    width: 100%;
    padding: 20px 0;
}
.blog-img-div img {
    width: 100%;
}
.blog-desc {
    float: left;
    width: 100%;
}
.blog-desc p,.blog-desc ul li {
    font-family: "Work Sans",sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    letter-spacing: 0;
    color: #333 !important;
    font-weight: 400 !important;
    text-transform: none;
    text-align: left;
}
.recent-section {
    float: left;
    width: 100%;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 6px;
	 overflow: hidden;
}
.recent-title {
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #1e8ece;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Work Sans",sans-serif;
   
}
.recent-des {
    float: left;
    width: 100%;
	padding:20px;
}
.recent-img {
    float: left;
    width: 26% !important;
    padding-right: 8px;
}
.recent-img img {
    width: 100%;
}
.recent-tle {
    float: left;
    width: 72%;
	font-family: "Work Sans",sans-serif;
	font-size:14px;
	color:#333;
}
.recent-tle a{
	color:#333;
		font-family: "Work Sans",sans-serif;
	font-size:15px;
}
.blog-date {
    float: left;
    width: 100%;
    font-family: "Work Sans",sans-serif;
    font-size: 14px;
    color: #333;
}