﻿.brand-week-head {
	float: left;
	width: 100%;
	text-align: center;
}
img.twoItemEditorial_image.big_image {
    width: 624px;
    height: 416px;
}
.cst-bottom-margin{
	margin-bottom:20px;
}
.twoItemEditorial_itemCTAText,.twoItemEditorial_itemCTAText:hover,.twoItemEditorial_itemCTAText:active,.twoItemEditorial_itemCTAText:focus,
.twoItemEditorial_itemCTAText:focus-within{
    background-color: #1e8ece;
    border-color: #1e8ece;
	color:#fff;
}
/*----responsive----*/
@media(max-width:767px)
{
	img.twoItemEditorial_image.big_image {
		width: 100%;
		height: auto;
	}
	.twoItemEditorial_textContainer {
		text-align: center;
	}
}
@media(min-width:768px) and (max-width:1341px)
{
	img.twoItemEditorial_image.big_image {
		width: 100%;
		height: 416px;
	}
}
/*----responsive----*/