﻿.brand-logo {
	float: left;
	width: 100%;
}
.brand-logo img {
	float: left;
	width: 150px;
}
.productBlock_button-moreInfo,.productBlock_button-moreInfo:hover,
.productBlock_button-productQuickbuySimple button,.productBlock_button-productQuickbuySimple button:hover{
	background-color: #1e8ece !important;
    border-color: #1e8ece !important;
	color:#fff !important;
}
.responsivePageSelectorActive,.responsivePageSelectorActive:hover {
    background-color: #1e8ece !important;
    color: #fff !important;
}
button.productAddToWishlist_button_default {
    display: none;
}

@media(max-width:372px){
	.productQuickbuySimple {
		font-size: 12px !important;
		padding: 6px !important;
	}
}
