﻿.contact-banner-section {
    float: left;
    width: 100%;
}
.contact-banner-section img {
    float: left;
    width: 100%;
}
.contact-form-section {
    float: left;
    width: 100%;
    padding-top: 60px;
	padding-bottom:60px;
}
.form-title {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

button.contact-btn {
    background: #1e8ece;
    border-color: #1e8ece;
    color: #fff;
    border-width: 2px;
    border-style: solid;
  
    font-family: "Work Sans",sans-serif;
    font-size: 15px;
    letter-spacing: .19px;
    text-transform: uppercase;

    line-height: 1.33;
    display: inline-block;
    transition: background-color .2s;
    padding: 12.5px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
  
    margin-bottom: 8px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
   
}
.bulk-section {
    float: left;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 20px;
}
.contact-section {
    float: left;
    width: 100%;
}