﻿
.eastendFooter_sectionFour.eastendFooter_sectionFour-light {
	background-image: url('http://localhost:64065/images/footer/footer-image-new.jpg');
	background-size: contain;
	background-position: bottom left;
	background-repeat: no-repeat;
}
.eastendFooter_logoContainer.cpy-div {
	margin-top: 200px;
}
.eastendFooter_paySecureIcons_endAccreditation_container.pay-div {
	margin-top: 120px;
}
#info-footer-btn,#contact-footer-btn{
	text-decoration:none;
}
.eastendFooter_signUpButton .signUp .signUp_button,.eastendFooter_signUpButton .signUp .signUp_button:hover{
	background-color: #1e8ece !important;
    border-color: #1e8ece !important;
	color:#fff !important;
}

@media(max-width:372px){
	.footer-mobile-section ul li a {
		font-size: 13px;
	}
}
@media(min-width:600px) and (max-width:667px){
	footer .eastendFooterLinkColumns_levelTwoItemLink {
		font-size: 11.8px;
	}
}
@media(min-width:668px) and (max-width:767px){
	footer .eastendFooterLinkColumns_levelTwoItemLink {
		font-size: 13.2px;
	}
}
@media(min-width:768px) and (max-width:776px){
	footer .eastendFooterLinkColumns_levelTwoItemLink {
		font-size: 15px;
	}
}

@media(max-width:899px)
{
	.mob-footer-hide{
		display:none;
	}
	.mob-footer-show{
		display:block;
	}
	
}
@media(max-width:900px)
{
	.eastendFooter_logoContainer.cpy-div {
		margin-top: 0px;
	}
	.eastendFooter_paySecureIcons_endAccreditation_container.pay-div {
		margin-top:  0px;
	}
}
@media(min-width:900px) {

	.eastendFooterLinkColumns_levelOne.eastendFooterLinkColumns_levelOne-3.footer-contact-col {
		width: 60% !important;
		flex-basis: unset;
	}
	.mob-footer-hide{
		display:block;
	}
	.mob-footer-show{
		display:none;
	}
}