﻿.form-div {
    padding: 16px;
    background-color: #fff;
    border-width: 1px;
    border-color: #c4c4c4;
    border-style: solid;
    display: flow-root;
    width: 40%;
    margin: 30px auto;
}
.btn-login, .btn-login:hover,.btn-login:active,.btn-login:focus,.btn-login:focus-within {
    background: #1e8ece;
    border-color: #1e8ece !important;
    color: #fff;
}

@media(max-width:480px){
	.form-div {
		width: 90%;
	}
	.btn-login {
		width: 120px !important;
		min-width: auto;
		text-align: center;
		margin: 0 auto;
	}
}
@media(min-width:481px) and (max-width:767px){
	.form-div {
		width: 90%;
	}
}