﻿.fredd-section {
	float: left;
	width: 100%;
	text-align: center;
	background: #fdf0ee;
}
.fredd-section ul {
	padding: 0;
	margin: 0;
	list-style:none;
}
.fredd-section ul li{
	display:inline-block;
}
.announcement-div {
	float: left;
	width: 100%;
	text-align: center;
	
	font-family: "Work Sans",sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	background: #1E8ECE;
	padding: 10px;
}
.announcement-div ul {
    padding: 0;
    margin: 0;
	list-style:none;
}
.announcement-div ul li {
    padding: 0 10px;
    display: inline-block;
	font-family: "Work Sans",sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	background: #1E8ECE;
}
.announcement-div ul li i {
    font-size: 20px;
    padding-right: 10px;
}
.first-announcement-div {
	float: left;
	width: 100%;
	text-align: center;
	
	font-family: "Work Sans",sans-serif;
	font-size: 14px;
	font-weight: 400;
	/*color: #fff;
	background: #1E8ECE;*/
	padding:10px;
}
.first-announcement-div ul {
    padding: 0;
    margin: 0;
	list-style:none;
}
.first-announcement-div ul li {
    padding: 0 10px;
    display: inline-block;
	font-family: "Work Sans",sans-serif;
	font-size: 14px;
	font-weight: 400;
	/*color: #fff;
	background: #1E8ECE;*/
}
.first-announcement-div ul li i {
    font-size: 20px;
    padding-right: 10px;
	/*vertical-align:middle;*/
}
/*.responsiveFlyoutMenu_levelOneLink {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}*/

.login-in-header,.login-in-header:hover{
	 background: #1e8ece ;
	  border-color: #1e8ece;
	  color:#fff;
}
.header-register{
	color:#000 !important;
	background:#fff !important;
}
.cart-icon-cont i {
    font-size: 18px;
}
button.btn-search.btnAddToCart {
    background-color: #fff;
    border: 1px solid #333;
    color: #fff !important;
    padding: 8px;
    border-radius: 5px;
	position:relative;
}
button.btn-search.btnAddToCart:after {
    content: '+';
    position: absolute;
    font-size: 16px;
    color: #fff;
    right: 10px;
    top: 1px;
    background: #000;
    border-radius: 50px;
    padding: 1px;
    width: 15px;
    height: 15px;
    font-weight: 700;
}
.login-in-header,.login-in-header:hover{
	background-color: #1e8ece !important;
    border-color: #1e8ece !important;
    color: #fff !important;
}
#close-mob-search {
	position: relative;
	z-index: 1;
}
.headerSearch_formInner.show_search {
		opacity: 1 !important;
		position: absolute;
		top: 120px;
		left: 0;
		width:80%;
	}
.responsiveFlyoutMenu_levelTwoLinkText {
	font-weight: 700;
}

.cat-arrow {
	padding-top: 12px;
	float: left;
}
ul.header-ul-icon li {
    font-family: "Work Sans",sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .2px;
    color: #333;
    font-weight: 400;
    color: #333;
    text-decoration: none;
}
/*----responsive----*/
@media(max-width:480px){
	/*myaccount code*/
	.responsiveAccountHeader_accountDropdown_content {
		width: 242px;
	}
	/*myaccount code*/
	.headerSearch_formInner.show_search {
		width:100%;
	}
	#result {
		left: 0;
		top: 129px;
	}
}
@media(min-width:481px) and (max-width:567px){
	#result {
		left: 0;
		top: 119px;
	}
}
@media(min-width:568px) and (max-width:667px){
	#result {
		left: 0;
		top: 119px;
	}
}
@media(min-width:668px) and (max-width:767px){
	#result {
		left: 0;
		top: 119px;
	}
}
@media(min-width:768px) and (max-width:991px){
	#result {
		left: 0;
		top: 119px;
	}
}
@media(min-width:992px) and (max-width:1024px){
	#result {
		left: 0;
		top: 119px;
	}
}
@media(min-width:1025px) and (max-width:1199px){
	#result {
		left: 0;
		top: 119px;
	}
}
@media(max-width:1179px)
{
	.header-ul-icon .responsiveUsp_icon {
		display: inherit !important;
	}
}
@media(max-width:1199px)
{
	.westendHeader_headerSearch {
		max-height: 48px;
	}
	.responsiveFlyoutMenu_menuButton {
		max-height: 48px;
	}
	.mob-header-log{
		height:43px !important;
		width:43px !important;
	}
	.westendHeader {
		position: relative;
	}
	.mob-search {
		position: absolute;
		bottom: 0;
		top: 50px;
		left: 0;
		width: 300px;
	}
	.mob-search {
		display:none;
	}
	.mob-search input[type="text"] {
		font-family: "Work Sans",sans-serif;
		line-height: 1.2;
		font-size: 16px;
	}
	.mob-search button{
		height:34px !important;
	}
	.mob-search input[type="text"]::placeholder {
	  font-family: "Work Sans",sans-serif;
	  line-height: 1.2;
	  font-size: 16px; /* Firefox */
	}

	.mob-search input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
	 font-family: "Work Sans",sans-serif;
		line-height: 1.2;
		font-size: 16px;
	}

	.mob-search input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
	font-family: "Work Sans",sans-serif;
		line-height: 1.2;
		font-size: 16px;
	}
	.all-brands a,.stationery a{
		float: left;
		width: 86%;
	}
	#all-brand-menu-mob,#all-category-menu-mob {
		padding-top: 12px;
		float: left;
	}
	
	/*cart code*/
		#responsiveFlyoutBasket_openBasketButtonMobile {
			display: none;
		}
		.responsiveFlyoutBasket_basketButton {
			display: block;
		}
		.responsiveFlyoutBasket_openBasketPanel .responsiveFlyoutBasket_icon_container {
			display: block;
			padding: 0 10px !important;
		}
		.responsiveFlyoutBasket_openBasketPanel .responsiveFlyoutBasket_itemsCount {
			top: 2px;
			right: 2px;
		}
	/*cart code*/
	/*myaccount code*/
		.responsiveAccountHeader_openAccountButtonMobile {
			display: none;
		}
		.responsiveAccountHeader_openAccountButton {
			display: block !important;
		}
		.responsiveAccountHeader_openAccountPanel .responsiveAccountHeader_accountIcon{
				display: block;
				top: 10px;
				position: relative;
			}
		.responsiveAccountHeader_openAccountPanel {
			position: relative;
		}
		.responsiveAccountHeader_openAccountPanel:hover .responsiveAccountHeader_accountDropdown .responsiveAccountHeader_accountDropdown_content {
			visibility: visible;
			transform: translate(0,0);
		}
		.responsiveAccountHeader_openAccountPanel:hover .responsiveAccountHeader_accountDropdown {
			display: block;
			pointer-events: all;
		}
	/*myaccount code*/
	/*mob menu arrow*/
	.ul-sub-cat {
		display: none;
	}
	/*mob menu arrow*/
}

@media(min-width:1200px)
{
	.mob-search {
		display:none;
	}
	
	
}
@media(min-width:1200px)and (max-width:1250px)
{
	.responsiveFlyoutMenu_levelOneLink{
		font-size:14px !important;
		padding-left:7px !important;
		padding-right:7px !important;
	}
}
@media(min-width:1251px)and (max-width:1330px)
{
	.responsiveFlyoutMenu_levelOneLink{
		font-size:14px !important;
	
	}
}
@media(min-width:1331px)
{
	/*.responsiveFlyoutMenu_levelOneLink{
		font-size:15px !important;
	}*/
}