﻿.fourBestSellers_item {
	border:10px solid #f1f1f1;
	padding:10px;
}
.imageCardSet_title {
	margin-left: 0;
	margin-bottom: 0px;
}

.spot-ligth-head{
	margin-bottom:20px;
}
.brand-week-title{
	font-family: "Work Sans",sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
	margin-top:10px;
	
}
.productBlock_detailsContainer.discover-product{
	text-align:left;
}
.shop-section{
	margin-bottom:0;
}
.productBlock_button-buyNow,.productBlock_button-buyNow:hover,.productBlock_button-moreInfo,.productBlock_button-moreInfo:hover,
.twoItemEditorial_itemCTAText,.twoItemEditorial_itemCTAText:hover {
    background-color: #1e8ece !important;
    border-color: #1e8ece !important;
	color:#fff !important;
}
.title-space{
	margin-top:10px !important;
}
.title-height{
	min-height:64px;
}
.ebs-title-height{
	min-height:32px !important;
}

.shop-img{
	width:404px;
	height:333px;
}
.sale-img{
	position:relative;
}
.sale-img:before {
    right: 0;
    font-size: 14px;
	font-weight:700;
    content: 'sale';
    background: #1e8ece;
    color: #fff;
    height: 50px;
    width: 50px;
    padding: 0 4px;
    position: absolute;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-transform: uppercase;
    right: 14px;
    top: 15px;
}
.sale-div{
  
    font-size: 14px;
	font-weight:700;
    content: 'sale';
    background: #1e8ece;
    color: #fff;
    height: 50px;
    width: 50px;
    padding: 0 4px;
    position: absolute;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-transform: uppercase;
    left: 14px;
    top: 15px;
}
.desc-p {
    font-family: "Work Sans",sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    letter-spacing: 0;
    color: #333 !important;
    font-weight: 400 !important;
    text-transform: none;
    text-align: left;
    position: relative !important;
    padding: 0 !important;
	margin-top:10px !important;
	height:72px;
	overflow:hidden;
	display:block;
}
.threeItemEditorial_itemTitle {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0;
    color: #333;
    font-weight: 600;
    text-transform: none;
    margin-top: 16px;
    margin-bottom: initial;
    padding-bottom: 8px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #333;
    color: #333;
    min-height: 93px;
	height:93px;
	max-height:93px;
	overflow:hidden;
	
}
a.threeItemEditorial_itemTitle:hover{
	   color: #333;
	   text-decoration:none;
	 	height:unset;
		max-height:unset;
		overflow:visible;
}
.sopt-title{
	min-height:unset;
	height:unset;

}
.art-title{
	min-height:93px; 
	margin-top:36px;
}
img.ultimate-img {
    width: 403px;
    height: 333px;
}
.ultimate-img-section{
	margin-bottom:20px;
 }
p.desc-p.spotlight-p{
	height:auto !important;
	display:block;
}
p.desc-p.ebs-art-p{
	height:auto !important;
}
a.promoProductSlider_imageLink.eb-art-a {
    text-decoration: none;
}
.ebs-art-big-img{
	width:100% !important;
	height:563px !important;
}
button.complimentary-gift-btn.papBanner.papBanner_popupLink {
    margin-top: 10px;
}
.best-seller-desc {
    display: none;
}
.discover-desc{
	display:none;
}

/*.shop-sale-section {
    display: none;
}*/
.art-section-p {
    display: none;
}
/*----responsive----*/
@media(max-width:360px) {
	.MultiCarousel .crouser_img {
		width: 110px !important;
		height: 110px !important;
	}

	.threeItemEditorial_itemTitle, .threeItemEditorial_itemTitle:hover {
		font-size: 14px;
	}
	.desc-p {
		font-size: 13px !important;
		text-align: center;
		height:117px;
		overflow:hidden;
	}
	.discover-product .productBlock_button.productBlock_button-buyNow {
		width: auto !important;
	}
}
@media(min-width:361px) and (max-width:400px){
	.MultiCarousel .crouser_img {
		width: 125px !important;
		height: 125px !important;
	}
	.threeItemEditorial_itemTitle, .threeItemEditorial_itemTitle:hover {
		font-size: 15px;
	}
	.desc-p {
		font-size: 13px !important;
		text-align: center;
		height:117px;
		overflow:hidden;
	}
	.discover-product .productBlock_button.productBlock_button-buyNow {
		width: auto !important;
	}
}
@media(max-width:372px)
{
	.productBlock_button-buyNow {
		font-size: 12px;
		padding: 6px 6px;
	}
}
@media(min-width:401px) and (max-width:480px){
	.MultiCarousel .crouser_img {
		width: 145px !important;
		height: 145px !important;
	}
	.threeItemEditorial_itemTitle, .threeItemEditorial_itemTitle:hover {
		font-size: 15px;
	}
	.desc-p {
		font-size: 13px !important;
		text-align: center;
		height:78px;
		overflow:hidden;
	}
	.discover-product .productBlock_button.productBlock_button-buyNow {
		width: auto !important;
	}
	
}
@media(max-width:480px)
{
	.medium-img {
		width: 250px !important;
		height: 250px !important;
	}
	.big-img {
		width: 100% !important;
		height: auto !important;
	}
	.MultiCarousel .MultiCarousel-inner .item > div.shop-div img {
		width: 250px;
	}
	.MultiCarousel.product-cro .MultiCarousel-inner .item > div {
		text-align: center;
	}
	.btn-shop-now{
		width:200px;
		margin:20px auto;
	}
	.productBlock_detailsContainer.discover-product {
		text-align: center;
	}
	.discover-product .productBlock_rating {
		text-align: center;
		width: 100%;
	}
	.discover-product .productBlock_button.productBlock_button-buyNow {
		width: 200px;
		margin: auto;
	}
	.shop-img {
		height: auto;
		width: 100%;
	}
	.shop-sale-img-section{
		padding-bottom:20px;
		text-align:center
	}
	.spotlight-shop-section{
		text-align:center;
	}
	.spot-shop-section{
		 text-align:center;
	 }
	.complimentary-gift-btn {
		margin: auto;
	}
	.ebs-art-rating {
		display: block;
	}
	.ebs-art-shop-btn {
		width: 200px;
		margin: auto;
	}
	.best-seller .productBlock_titleContainer.trackwidget.title-height {
		text-align: center !important;
	}
	.best-seller .productBlock_price {
		text-align: center;
	}
	.btn-shop-now{
		width:auto !important;
	}
	.best-seller-title {
		height: 90px;
		overflow: hidden;
	}
	.dicover-title{
		height: 90px;
		overflow: hidden;
	}
	.art-title {
		height: 66px;
		min-height:66px;
		overflow: hidden;
	}
}
@media(min-width:481px) and (max-width:567px)
{
	.big-img {
		width: 100% !important;
		height: auto !important;
	}
	.MultiCarousel.product-cro .MultiCarousel-inner .item > div {
		text-align: center;
	}
	.btn-shop-now{
		width:200px;
		margin:20px auto;
	}
	.productBlock_detailsContainer.discover-product {
		text-align: center;
	}
	.discover-product .productBlock_rating {
		text-align: center;
		width: 100%;
	}
	.discover-product .productBlock_button.productBlock_button-buyNow {
		width: 200px;
		margin: auto;
	}
	.complimentary-gift-btn {
		margin: auto;
	}
	.ebs-art-rating {
		display: block;
	}
	.ebs-art-shop-btn {
		width: 200px;
		margin: auto;
	}
	.shop-img {
		height: auto;
		width: 100%;
	}
	.shop-sale-img-section{
		padding-bottom:20px;
		text-align:center
	}
	.spot-shop-section{
		 text-align:center;
	}
	.best-seller .productBlock_titleContainer.trackwidget.title-height {
		text-align: center !important;
	}
	.best-seller .productBlock_price {
		text-align: center;
	}
	.MultiCarousel .crouser_img {
		width: 185px !important;
		height: 185px !important;
	}
	.threeItemEditorial_itemTitle, .threeItemEditorial_itemTitle:hover {
		font-size: 15px;
	}
	.desc-p {
		font-size: 14px !important;
		text-align: center;
		height:84px;
		overflow:hidden;
	}
	.best-seller-title {
		height: 72px;
		overflow: hidden;
	}
	.dicover-title{
		height: 72px;
		overflow: hidden;
	}
	.art-title {
		min-height:72px;
		height: 72px;
		overflow: hidden;
	}
}
@media(min-width:568px) and (max-width:667px){
	.big-img {
		width: 100% !important;
		height: auto !important;
	}
	.MultiCarousel.product-cro .MultiCarousel-inner .item > div {
		text-align: center;
	}
	.btn-shop-now{
		width:200px;
		margin:20px auto;
	}
	.productBlock_detailsContainer.discover-product {
		text-align: center;
	}
	.discover-product .productBlock_rating {
		text-align: center;
		width: 100%;
	}
	.discover-product .productBlock_button.productBlock_button-buyNow {
		width: 200px;
		margin: auto;
	}
	.complimentary-gift-btn {
		margin: auto;
	}
	.ebs-art-rating {
		display: block;
	}
	.ebs-art-shop-btn {
		width: 200px;
		margin: auto;
	}
	.shop-img {
		height: auto;
		width: 100%;
	}
	.shop-sale-img-section{
		padding-bottom:20px;
		text-align:center
	}
	.spot-shop-section{
		 text-align:center;
	 }
	.best-seller .productBlock_titleContainer.trackwidget.title-height {
		text-align: center !important;
	}
	.best-seller .productBlock_price {
		text-align: center;
	}
	.MultiCarousel .crouser_img {
		width: 229px !important;
		height: 229px !important;
	}
	.threeItemEditorial_itemTitle, .threeItemEditorial_itemTitle:hover {
		font-size: 16px;
	}
	.desc-p {
		font-size: 14px !important;
		text-align: center;
		height:65px;
		overflow:hidden;
	}
	.best-seller-title {
		height: 66px;
		overflow: hidden;
	}
	.dicover-title{
		height: 76px;
		overflow: hidden;
	}
	.art-title {
		min-height:50px;
		height: 50px;
		overflow: hidden;
	}
	
}
@media(min-width:668px) and (max-width:767px)
{
	.MultiCarousel.product-cro .MultiCarousel-inner .item > div {
		text-align: center;
	}
	.btn-shop-now{
		width:200px;
		margin:20px auto;
	}
	.productBlock_detailsContainer.discover-product {
		text-align: center;
	}
	.discover-product .productBlock_rating {
		text-align: center;
		width: 100%;
	}
	.discover-product .productBlock_button.productBlock_button-buyNow {
		width: 200px;
		margin: auto;
	}
	.complimentary-gift-btn {
		margin: auto;
	}
	.ebs-art-rating {
		display: block;
	}
	.ebs-art-shop-btn {
		width: 200px;
		margin: auto;
	}
	.big-img {
		margin:20px auto;
	}
	.shop-img {
		height: auto;
		width: 100%;
	}
	.shop-sale-img-section{
		padding-bottom:20px;
		text-align:center
	}
	.spot-shop-section{
		 text-align:center;
	 }
	.best-seller .productBlock_titleContainer.trackwidget.title-height {
		text-align: center !important;
	}
	.best-seller .productBlock_price {
		text-align: center;
	}
	.desc-p {
	
		text-align: center;
		height:72px;
		overflow:hidden;
	}
	.best-seller-title {
		height: 66px;
		overflow: hidden;
	}
	.dicover-title{
		height: 93px;
		overflow: hidden;
	}
	.art-title {
		min-height:50px;
		height: 50px;
		overflow: hidden;
	}
}

@media(max-width:767px){
	img.ultimate-img {
		width: 100%;
		height: auto;
	}
	
}

@media(min-width:768px) and (max-width:991px)
{
	.big-img {
		width: 100% !important;
	}
	.shop-img {
		width: 100%;
		height:auto;
	}
	.MultiCarousel .MultiCarousel-inner .item > div img.ultimate-img {
		width: 100%;
		height:330px
	}
	.medium-img {
		 width: 100% !important; 
	}
	img.ultimate-img {
		width: 100%;
		height: 200px;
	}
	.desc-p {
		height:50px;
		overflow:hidden;
	}
	.best-seller-title {
		height: 66px;
		overflow: hidden;
	}
	.dicover-title{
		height: 93px;
		overflow: hidden;
	}
	.art-title {
		min-height:86px;
		height: 86px;
		overflow: hidden;
	}
}
@media(min-width:992px) and (max-width:1024px){
	.shop-img {
		width: 100%;
	}
	.MultiCarousel .MultiCarousel-inner .item > div img.ultimate-img {
		width: 100%;
		height:290px;
	}
	img.ultimate-img {
		width: 100%;
		height: 250px;
	}
	.desc-p {
		height:72px;
		overflow:hidden;
	}
	.best-seller-title {
		height: 66px;
		overflow: hidden;
	}
	.dicover-title{
		height: 93px;
		overflow: hidden;
	}
	
}
@media(min-width:992px) and (max-width:1341px)
{
	.big-img {
		width: 100% !important;
		height: 415px !important;
	}
	.ebs-art-big-img{
		height:623px !important;
	}
}
@media(min-width:1025px) and (max-width:1100px)
{
	.shop-img {
		width: 100%;
		height: 300px;
	}
	.MultiCarousel .MultiCarousel-inner .item > div img.ultimate-img {
		width: 100%;
		height: 300px;
	}
	img.ultimate-img {
		width: 100%;
		height: 300px;
	}
	.desc-p {
		height:72px;
		overflow:hidden;
	}
	.best-seller-title {
		height: 66px;
		overflow: hidden;
	}
	.dicover-title{
		height: 93px;
		overflow: hidden;
	}
}
@media(min-width:1101px) and (max-width:1199px)
{
	.shop-img {
		width: 100%;
	}
	.MultiCarousel .MultiCarousel-inner .item > div img.ultimate-img {
		width: 100%;
		height: 330px;
	}
	.medium-img {
		width: 100% !important;
	}
	img.ultimate-img {
		width: 100%;
	}
	.best-seller-title {
		height: 66px;
		overflow: hidden;
	}
	.dicover-title{
		height: 93px;
		overflow: hidden;
	}
}
@media(min-width:1200px) and (max-width:1220px)
{
	.shop-img {
		width: 100%;
	}
	.MultiCarousel .MultiCarousel-inner .item > div img.ultimate-img {
		width: 100%;
		height: 330px;
	}
	.medium-img {
		width: 100% !important;
	}
	img.ultimate-img {
		width: 100%;
	}
}
@media(min-width:1200px) and (max-width:1283px) {
	.best-seller-title{
		height: 93px;
		overflow: hidden;
	}
	.dicover-title{
		height: 93px;
		overflow: hidden;
	}
}

@media(min-width:1201px)
{
	.MultiCarousel .MultiCarousel-inner .item > div img.ultimate-img {
		width: 404px;
		height: 330px;
	}

}
/*----responsive----*/