﻿.medium-img{
	width:288px !important;
	height:288px !important;
}
.big-img {
	width:623px !important;
	height:415px !important;
}
.small-img{
	width:100px !important;
	height:80px !important;
}
.search-img{
	width: 70px !important;
    height: 55px !important;
}
