﻿.responsiveFacets_sectionContentWrapper.brand-wrap {
    max-height: 160px;
    overflow-y: auto;
}
.responsivePageSelectorActive, .responsivePageSelectorActive:hover {
    background-color: #1e8ece !important;
    color: #fff !important;
}
.responsiveProductListPage_bottomPagination {
    float: left;
    width: 100%;
}
nav.responsivePaginationPages {
    float: left;
    width: 80%;
}
ul.responsivePageSelectors {
    float: left;
    width: 70%;
    overflow: auto;
    height: 60px;
}
/*ul#paging_li li:first-child{
	display:block;
}
ul#paging_li li{
	display:none;
}
ul#paging_li li:nth-child(2),ul#paging_li li:nth-child(3),ul#paging_li li:nth-child(4),ul#paging_li li:nth-child(5),ul#paging_li li:nth-child(6),
ul#paging_li li:nth-child(7),ul#paging_li li:nth-child(8),ul#paging_li li:nth-child(9),ul#paging_li li:nth-child(10){
	display:block;
}
ul#paging_li li:last-child{
	display:block;
}*/
/*@media(max-width:376px){
	.mob-side-menu {
		top: 245px !important;
	}
}
@media(min-width:377px) and (max-width:480px){
	.mob-side-menu {
		top: 225px !important;
	}
}
@media(min-width:481px) and (max-width:599px){
	.mob-side-menu {
		top: 225px !important;
	}
}
@media(min-width:600px) and (max-width:899px){
	.mob-side-menu {
		top: 235px !important;
	}
}*/
@media(max-width:899px){
	.mob-side-menu button h3{
		margin-top:0;
		margin-bottom:0;
	}
}

@media(min-width:900px) and (max-width:904px){
	.responsiveProductListPage_facets {
		width: 185px;
	}
}
