﻿.showPasswordToggleComponent_checkbox:checked+.showPasswordToggleComponent_switch {
    background: #1e8ece;
    transition: background .3s;
}
.btn-login,.btn-login:hover,.btn-login:active,.btn-login:focus,.btn-login:focus-within {
	  background: #1e8ece ;
	  border-color: #1e8ece;
	  color:#fff;
}
.new-user-continue {
    width: 200px !important;
    text-decoration: none !important;
}
.new-user-continue:hover,.new-user-continue:active,.new-user-continue:focus,.new-user-continue:focus-within{
	background:#fff!important;
	color:#000 !important;
}
a.forget-pass {
    text-align: center;
    width: 100%;
    float: left;
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
    display: block;
    margin-bottom: 16px;
    color: #333;
}