﻿.cart-header {
    padding-top: 30px;
}
.checkout-btn,.checkout-btn:hover,.checkout-btn:active,.checkout-btn:focus,.checkout-btn:focus-within {
    background-color: #1e8ece;
    border-color: #1e8ece;
    color: #fff;
}
.continue-shop:hover{
	background-color: #1e8ece;
    color: #fff;
}
.continue-shop:active,.continue-shop:focus,.continue-shop:focus-within {
    background-color: #fff;
    border-color: #000;
	color:#000;
}
.add-discount-btn:hover{
	background-color: #1e8ece;
    color: #fff;
}
.empty-cart{
	padding-top:30px;
}
.mycartminus{
    font-family: "Work Sans",sans-serif;
    font-size: 15px !important;
    border: 1px solid #000;
    line-height: 1.5;
    padding: 8px;
    width: 42px;
    height: auto;
    float: left;
}
.mycartadd{
	 font-family: "Work Sans",sans-serif;
    font-size: 15px !important;
    border: 1px solid #000;
    line-height: 1.5;
    padding: 8px;
    width: 42px;
    height: auto;
    float: left;
}
.responsiveBasket_quantitySelector {
     max-width: 100% !important;
}
.myqty {
    float: left;
    width: 100px;
    line-height: 42px;
}
fieldset.responsiveBasket_discountEntryFieldset {
    float: left;
    width: 100%;
}
div#PesOffers {
    float: left;
    width: 100%;
}
.add-coupn-section {
    float: left;
    width: 100%;
	text-align:center;
}

button#btnRemoveVoucher {
    background-color: #1e8ece;
    border-color: #1e8ece;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
	margin-bottom:10px;
}
button#add-discount-code {
    position: relative;
    top: 2px;
}
button#add-discount-code:focus-within{
	background-color:#fff;
	color:#000;
}
button#add-discount-code:active, button#add-discount-code:focus, button#add-discount-code:hover {
    background: transparent;
    border-color: #000;
    border-width: 1px !important;
    box-shadow: none;
	color:#000;
}
b.offer-b {
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
	
	padding-right: 10px;
	font-weight:normal !important;
}
span.coup-no {
    font-family: "Work Sans",sans-serif;
    font-size: 20px !important;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
	padding-right: 10px;
}
span.coupn-message {
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;

	padding-right: 10px;
	padding-top:5px;
	font-weight:700;
}
.cashback-p {
    font-family: "Work Sans",sans-serif;
    line-height: 1.5;
    letter-spacing: 0;

	padding-right: 10px;
	color:#333 !important;

}
.cashback-desc {
    font-family: "Work Sans",sans-serif;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
	
	padding-right: 10px;
}
table.remove-table {
    /*float: left;
    width: auto;*/
	margin-bottom:5px !important;
}
button#btnRemoveVoucher{
	margin-bottom:0 !important;
}
table.remove-table tr {
    border: unset;
    padding: 0 !important;
}
/*.sub-total-section,.delivery-section,div#trDisAmt,.grand-section {
    float: left;
    width: 100%;
    text-align: right;
}*/
.sub-total-section, .delivery-section, div#trDisAmt, .grand-section {
    /* float: left; */
    width: auto;
    text-align: left;
    display: block;
}
/*.grand-total-section {
    float: right;
    width: 50%;
}*/
.grand-total-section {
    float: right;
    position: relative;
    left: 90px;
}
/*.sub-total-section span.responsiveBasket_totalLabel {
    position: relative;
    left: -38px;
}*/
.sub-total-section span.responsiveBasket_totalLabel {
    position: relative;
    left: 0;
    text-align: left;
    width: 150px;
    float: left;
}
.delivery-section .responsiveBasket_totalLabel {
    float: left;
    width: 150px;
    text-align: left;
}
d/*iv#trDisAmt span.responsiveBasket_totalLabel {
    position: relative;
    left: -41px;
}
.grand-section span.responsiveBasket_totalLabel {
    position: relative;
    left: -7px;
}*/
div#trDisAmt span.responsiveBasket_totalLabel {
    position: relative;
    /* left: -41px; */
    width: 150px;
    float: left;
    text-align: left;
}
.grand-section span.responsiveBasket_totalLabel,div#trDisAmt span.responsiveBasket_totalLabel {
    position: relative;
    /* left: -7px; */
    width: 150px;
    float: left;
    text-align: left;
}
/*span#ltCartSubTotal {
    position: relative;
    left: 16px;
}
span#ltCartDisAmount {
    position: relative;
    left: 18px;
}
span#baskettotal {
    position: relative;
    left: 32px;
}*/
div#dvpoints {
    float: left;
    width: 100%;
    margin-top: 20px;
	border: dashed 2px #1e8ece;
    padding: 0 24px;
    text-align: center;
}
.point-col {
    padding-top: 10px;
    font-family: "Work Sans",sans-serif;
    font-size: 18px !important;
    line-height: 1.5;
    letter-spacing: 0;
}
.how-many-col {
    font-family: "Work Sans",sans-serif;
    font-size: 18px !important;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
}
.apply-col table tr {
    border: none;
}
button#btnApplyPoints {
    background-color: #1e8ece;
    border-color: #1e8ece;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    width: 130px;
    float: left;
    position: relative;
    top: 6px;
}
input#txtwallet {
    float: left;
}
.ebds-point-div {
    float: left;
    width: 100% !important;
    border: unset !important;
}
b.ebs-pont {
    font-family: "Work Sans",sans-serif;
    font-size: 20px !important;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
}
span.point-value {
    font-family: "Work Sans",sans-serif;
    font-size: 20px !important;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
}
span.applied {
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    padding-right: 10px;
    padding-top: 5px;
    font-weight: 700;
}
p.offer {
    font-family: "Work Sans",sans-serif;
    font-size: 20px !important;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333 !important;
}
p.cong {
    font-family: "Work Sans",sans-serif;
    font-size: 20px !important;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333 !important;
}
table.point-table {
    width: auto !important;
    text-align: center;
    margin: 0 auto;
}
div#btnRemoveVoucher1 {
    background-color: #1e8ece;
    border-color: #1e8ece;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
}

/*----responsive----*/
@media (min-width:361px) and (max-width:400px){
	.grand-total-section {
		left: 40%;
	}
}
@media(min-width:401px) and (max-width:480px){
	.grand-total-section {
		left:50%;
	}
}
@media(max-width:480px)
{
	.responsiveBasket_imageLink {
		align-items: center;
	}
	.mycartminus {
		width: 25px;
		height: 25px;
		line-height:.4;
	}
	.mycartadd {
		width: 25px;
		height: 25px;
		line-height:.4;
	}
	.myqty {
		width: 40px;
		line-height: 25px;
	}
	.checkout-btn {
		margin-bottom: 8px;
	}
}

@media(min-width:481px) and (max-width:539px){
	.responsiveBasket_imageLink {
		align-items: center;
	}
	.checkout-btn {
		margin-bottom: 8px;
	}
	.responsiveBasket_quantitySelector {
		max-width: 96px;
		margin-left: 102px;
	}
	.mycartminus {
		width: 25px;
		height: 25px;
		line-height:.4;
	}
	.mycartadd {
		width: 25px;
		height: 25px;
		line-height:.4;
	}
	.myqty {
		line-height: 25px;
	}
}
@media(min-width:481px) and (max-width:567px){
	.grand-total-section {
		left:53%;
	}
}
@media(min-width:568px) and (max-width:667px){
	.grand-total-section {
		left: 60%;
	}
}
@media(min-width:668px) and (max-width:767px){
	.grand-total-section {
		left: 65%;
	}
}
@media(min-width:768px) and (max-width:809px){
	.grand-total-section {
		left: 70%;
	}
}
@media(min-width:810px) and (max-width:991px){
	.grand-total-section {
		left: 10%;
	}
}
@media(min-width:540px) and (max-width:772px) {
	.myqty {
		float: left;
		width: 59px;
		line-height: 25px;
	}
	.mycartminus {
		width: 25px;
		height: 25px;
		line-height:.4;
	}
	.mycartadd {
		width: 25px;
		height: 25px;
		line-height:.4;
	}
}
@media(min-width:810px) and (max-width:1043px){
	.myqty {
		float: left;
		width: 40px;
		line-height: 30px;
	}
	.mycartminus {
		line-height: .8;
		width: 30px;
		height: 30px;
	}
	.mycartadd {
		line-height: .8;
		width: 30px;
		height: 30px;
	}
}
@media(min-width:1044px) and (max-width:1316px) {
	.myqty {
		width: 50px;
	}
}
/*----responsive----*/