﻿.responsiveFacets_sectionContentWrapper.price-wrap {
    padding-bottom: 10px;
}
price p {
    padding-bottom: 10px !important;
}
.brand-wrap ol li label {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    padding: 5px;
}
.pre-page,.next-page{
	width: 40px;
    height: 40px;
    border: 1px solid gray;
    padding: 10px 15px;
    min-width: 40px;
    min-height: 40px;
}
.new-page{
	width: 40px;
    height: 40px;
    border: 1px solid gray;
    padding: 10px 15px;
    min-width: 40px;
    min-height: 40px;
	text-decoration:none !important;
	background:#fff;
}
.new-page[disabled] {
    color: #fff;
	background-color:#1e8ece !important;
}
.page-label {
	float:left;
    width:160px !important;
	padding-left:50px !important;
}
.page-no a.new-page:hover {
    text-decoration: none !important;
    background: #eee;
    color: #000;
}
.page-no tbody tr{
	border:unset !important;
}

/*----responsive----*/
/*@media(max-width:360px) {
	.mob-side-menu {
		top: 315px !important;
	}
}
@media(min-width:361px) and (max-width:374px) {
	.mob-side-menu {
		top: 322px !important;
	}
}
@media(min-width:375px) and (max-width:377px) {
	.mob-side-menu {
		top: 325px !important;
	}
}
@media(min-width:378px) and (max-width:400px) {
	.mob-side-menu {
		top: 315px !important;
	}
}
@media(min-width:401px) and (max-width:420px) {
	.mob-side-menu {
		top: 320px !important;
	}
}
@media(min-width:421px) and (max-width:440px) {
	.mob-side-menu {
		top: 325px !important;
	}
}
@media(min-width:441px) and (max-width:464px)
{
	.mob-side-menu {
		top: 330px !important;
	}
}
@media(min-width:465px) and (max-width:480px)
{
	.mob-side-menu {
		top: 340px !important;
	}
}
@media(min-width:481px) and (max-width:500px)
{
	.mob-side-menu {
		top: 347px !important;
	}
}
@media(min-width:501px) and (max-width:520px)
{
	.mob-side-menu {
		top: 350px !important;
	}
}
@media(min-width:521px) and (max-width:550px)
{
	.mob-side-menu {
		top: 360px !important;
	}
}
@media(min-width:551px) and (max-width:567px)
{
	.mob-side-menu {
		top: 370px !important;
	}
}
@media(min-width:568px) and (max-width:600px)
{
	.mob-side-menu {
		top: 375px !important;
	}
}
@media(min-width:601px) and (max-width:667px)
{
	.mob-side-menu {
		top: 395px !important;
	}
}
@media(min-width:668px) and (max-width:700px)
{
	.mob-side-menu {
		top: 410px !important;
	}
}
@media(min-width:701px) and (max-width:750px)
{
	.mob-side-menu {
		top: 420px !important;
	}
}
@media(min-width:751px) and (max-width:770px)
{
	.mob-side-menu {
		top: 430px !important;
	}
}
@media(min-width:771px) and (max-width:800px)
{
	.mob-side-menu {
		top: 440px !important;
	}
}
@media(min-width:801px) and (max-width:830px)
{
	.mob-side-menu {
		top: 450px !important;
	}
}
@media(min-width:831px) and (max-width:860px)
{
	.mob-side-menu {
		top: 460px !important;
	}
}
@media(min-width:861px) and (max-width:899px)
{
	.mob-side-menu {
		top: 470px !important;
	}
}*/
@media(max-width:1024px){
	.page-no-div-new {
		float: left;
		width: 100%;
		overflow-x: auto;
	}
}
@media(min-width:900px) and (max-width:1100px){
	.productListProducts_products .productListProducts_product {
		margin-left: 14px !important;
		margin-right: 14px !important;
	}
	.responsiveProductListPage_facets {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
/*----rsponsive----*/