﻿.payment-heading {
    font-family: "Work Sans",sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    text-align: center;
    text-transform: none;
}
.payment-frm {
    border: 1px solid #c4c4c4;
    padding: 30px;
    margin-bottom: 20px;
}
.payment-frm .checkbox label,.payment-frm .radio label{
    font-family: "Work Sans",sans-serif;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
     text-align: left;
    font-weight: 400!important;
   
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.payment-frm p{
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
     text-align: left;
    font-weight: 400!important;
   
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.payment-frm .btn {
    background-color: #1e8ece !important;
    border:2px solid #1e8ece !important;
    color: #fff !important;
    font-family: "Work Sans",sans-serif;
    font-size: 15px;
    letter-spacing: .19px;
    text-transform: uppercase;
	float:right;
}
h2.order-head{
	font-family: "Work Sans",sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    text-align: center;
    text-transform: none;
}
.order-summary {
    float: left;
    width: 100%;
    border: 1px solid #c4c4c4;
    padding: 30px;
  
}

.order-cart {
    float: left;
    width: 100%;
	 border-bottom:1px solid #c4c4c4;
}
.order-cart-subtotal {
    float: left;
    width: 50%;
    text-align: left;
	 font-family: "Work Sans",sans-serif;
    font-size: 15px;
    color: #333;
    font-weight: 400;
	margin-bottom:10px;
   
}
.order-cart-price {
    float: left;
    width: 50%;
    text-align: right;
	 font-family: "Work Sans",sans-serif;
    font-size: 15px;
    color: #333;
    font-weight: 400;
	margin-bottom:10px;
  
}
.order-tax {
    float: left;
    width: 100%;
    padding-top: 20px;
	 border-bottom:1px solid #c4c4c4;
}
.order-tax-div {
    float: left;
    width: 50%;
    text-align: left;
	 font-family: "Work Sans",sans-serif;
    font-size: 15px;
    color: #333;
    font-weight: 400;
	margin-bottom:10px;
}
.order-tax-price {
    float: left;
    width: 50%;
    text-align: right;
	 font-family: "Work Sans",sans-serif;
    font-size: 15px;
    color: #333;
    font-weight: 400;
	margin-bottom:10px;
}
.order-tax-detail {
    width: 100%;
    float: left;
    padding-top: 20px;
	
}
.order-tax-detail-div {
    float: left;
    width: 50%;
	text-align:left;
	 font-family: "Work Sans",sans-serif;
    font-size: 15px;
    color: #333;
    font-weight: 400;
	margin-bottom:10px;
}
.order-tax-detail-price{
	float:left;
	width:50%;
	text-align:right;
	 font-family: "Work Sans",sans-serif;
    font-size: 15px;
    color: #333;
    font-weight: 400;
	margin-bottom:10px;
}
.order-summary-detail {
    float: left;
    width: 100%;
  
  
}
.order-summary-detail h3{
    font-family: "Work Sans",sans-serif;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 600;
    margin:0 0 10px;
    border-bottom:1px solid #c4c4c4;
	float:left;
	width:100%;
}
.order-details {
    float: left;
    width: 100%;
}
.order-img {
    float: left;
    width: 35%;
}
.order-desc {
    width: 50%;
    float: left;
}
.order-desc h2 {
	font-family: "Work Sans",sans-serif;
	font-weight:600;
    font-size: 15px;
    margin: 0 0 10px;
}
.order-desc p {
	font-family: "Work Sans",sans-serif;
	font-size: 15px;
}
.order-price {
    float: left;
    width: 15%;
	font-family: "Work Sans",sans-serif;
	font-size: 16px;
}



