﻿
    #exzoom {
        width: 400px;
        /*height: 400px;*/
    }
    .container { margin: 150px auto; max-width: 960px; }
    .hidden { display: none; }
	#exzoom {
	margin-bottom: 30px;
}

.prodcut-sldier-section {
    float: left;
    width: 100%;
	margin-bottom:20px;
	padding-left:100px;
}
ul.pro-img-ul {
    width: 10%;
    float: left;
}
ul.pro-img-ul li {
	padding-bottom:5px;
}
ul.pro-img-ul li img:hover{
	border:1px solid #1e8ece; 
}
ul.pro-img-ul li img{
	width:70px;
	height:70px;
	border:1px solid #808080;
}
.pro-img-div {
    float: left;
    width: 90%;
	padding:0 30px;
	text-align:center;
	height:600px;
}
img#div-img {
    max-width: 600px;
    max-height: 600px;
}
.btnAddToCart,.btnAddToCart:hover,.btnAddToCart:active,.btnAddToCart:focus,.btnAddToCart:focus-within{
	background-color:#1e8ece;
	border-color:#1e8ece;
	color:#fff;
}
a.productBlock_button.productBlock_button-buyNow,a.productBlock_button.productBlock_button-buyNow:hover{
	background-color:#1e8ece;
	color:#fff;
	border-color:#1e8ece;
}
img.related-product-img {
    width: 100% !important;
    height: 170px !important;
}
.related-products h3 {
    text-align: left;
}
.related-products .productBlock_priceBlock {
    text-align: left;
}
select#ddl_attri {
    border: 1px solid #000;
    padding: 8px;
    margin-top: 20px;
    font-family: "Work Sans",sans-serif;
    font-size: 15px;
    letter-spacing: .19px;
    text-transform: uppercase;
    color: #000;
	width:58%;
}

select#color_dd{
    border: 1px solid #000;
    padding: 8px;
    margin-top: 20px;
    font-family: "Work Sans",sans-serif;
    font-size: 15px;
    letter-spacing: .19px;
    text-transform: uppercase;
    color: #000;
	width:58%;
}
.related-products .productBlock_title {
    height: 20px;
    overflow: hidden;
}
.newYorkProductPage_productReviews {
    display: none;
}
/*.stripBanner {
    display: none;
}*/
button#btn_decrease:hover,button#btn_decrease:active,button#btn_decrease:focus,button#btn_decrease:focus-within {
    background: transparent;
}
button#btn_increase:hover,button#btn_increase:active,button#btn_increase:focus,button#btn_increase:focus-within{
	 background: transparent;
}

/*----responsive----*/
@media(max-width:480px){
	.btnAddToCart{
		width: 240px !important;
	}
}
@media(max-width:767px){
	.prodcut-sldier-section {
		padding-left: 0px;
	}
	ul.pro-img-ul {
		width: 100%;
		float: left;
	}
	ul.pro-img-ul li {
		padding-bottom: 5px;
		display: inline-block;
		padding-right: 5px;
	}
	.pro-img-div {
		float: left;
		width: 100%;
		padding: 0 10px;
		text-align: center;
		height: auto;
	}
	img#div-img {
		width: 100%;
		height: auto;
	}
	/*.productName_title {
		text-align: center;
	}
	.productReviewStars {
		display: block;
		text-align: center;
	}
	.productReviewStars_numberOfReviews {
		text-align: center;
	}
	.newYorkProductPage_productPrice {
		flex-basis: unset;
		width: auto;
		margin: 0 auto;
	}*/
	.btnAddToCart{
		width: 290px;
	}
}
@media(min-width:768px) and (max-width:939px)
{
	.btnAddToCart{
		width: 290px;
	}
}
/*----responsive----*/