﻿.select-deleviery-address-heading {
    font-family: "Work Sans",sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    text-align: center;
    text-transform: none;
}
#dvDeliveryAddresses table{
	font-family: "Work Sans",sans-serif;
	
}
#dvDeliveryAddresses table tbody tr {
   border-bottom: none;
   display:block;
   padding:5px !important;
   color:#000;
}
#dvDeliveryAddresses table tbody tr:nth-child(7) td:nth-child(2)
{
	float:left;
	text-align:left;
	margin-left:100px;
}
.next-btn-div {
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.signUp_button, .signUp_button:hover{
	background-color: #1e8ece !important;
    border-color: #1e8ece !important;
    color: #fff !important;
}