﻿.return-gift-banner-section {
	float: left;
	width: 100%;
	/*height: 520px;
	background: url('http://localhost:64065/images/slider/New_Year_Banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
	margin-bottom:30px;
}
.return-gift-banner-section img {
	width: 100%;
	height: auto;
	display: block;
}
.productBlock_button-moreInfo,.productBlock_button-moreInfo:hover,
.productBlock_button-productQuickbuySimple button,.productBlock_button-productQuickbuySimple button:hover{
	background-color: #1e8ece !important;
    border-color: #1e8ece !important;
	color:#fff !important;
}
.responsivePageSelectorActive,.responsivePageSelectorActive:hover {
    background-color: #1e8ece !important;
    color: #fff !important;
}
button.productAddToWishlist_button_default {
    display: none;
}

/*----responsive----*/


@media(max-width:899px)
{
	.responsiveProductListPage_sortAndPagination {
		position: relative;
	}
	.mob-side-menu {
		top: 55px !important;
	}
}
/*----responsive----*/