﻿.brand-wrap label.responsiveFacets_sectionItemLabel,.skin-wrap label.responsiveFacets_sectionItemLabel,
.price-wrap label.responsiveFacets_sectionItemLabel,.save-wrap label.responsiveFacets_sectionItemLabel,.s-tool-wrap label.responsiveFacets_sectionItemLabel,
.s-con-wrap label.responsiveFacets_sectionItemLabel,.make-p-wrap label.responsiveFacets_sectionItemLabel,.make-t-wrap label.responsiveFacets_sectionItemLabel,
.make-c-wrap label.responsiveFacets_sectionItemLabel,.body-p-wrap label.responsiveFacets_sectionItemLabel,.body-t-wrap label.responsiveFacets_sectionItemLabel {
    width: 100%;
}
.mob-side-menu button {
	display: block !important;
	padding:5px;
	position:relative;
	width:100%;
}
/*.responsiveFacets_sectionHead {
	display: block !important;
}*/
.mob-ref {
	float: left;
	width: 100%;
	border: 1px solid #8c8c8c;
	border-radius: 4px;
	height: 40px;
	font-size: 14px;
	padding-left:9.6px;
	padding-right:9.6px;
	line-height:40px;
}
.mob-ref i {
	float: right;
	line-height: 40px;
}
/*.mob-side-menu {
	float: left;
	width: 100%;
	display:none;
}*/
.mob-refine.responsiveProductListPage_topPagination{
	position:relative;
}
.mob-side-menu {
	float: left;
	width: 100%;
	display: none;
	position: absolute;
	left: 0;
	background: #eee;
	z-index: 1;
	top: 340px;
	right:0;
}
.mob-side-menu button::after {
	content: '';
	position: absolute;
	/* top: 0; */
	bottom: 0;
	border-bottom: 1px solid #000;
	background: #fff;
	width: 900px;
	height: 1px;
	right: 0;
	left: 0;
}
.mob-side-menu button h3 {
	font-size: 16px;
	font-weight: 400;
	font-family: "Work Sans",sans-serif;
	color: #333;
	float: left;
	width: 96%;
	text-align: left;
}
.mob-side-menu button i{
	float:left;
	width:4%;
}

table.responsivePaginationPages td a {
    border: 1px solid;
	line-height: 34px;
    text-decoration: none;
}
td.last-arrow,td.first-arrow {
    position: relative;
    top: 8px;
    height: 40px;
    width: 40px;
	display:unset;
}
.responsivePaginationPages.list-page-no
{
	float:left;
	margin:auto;
}
span#ctl00_ContentPlaceHolder1_lblpage {
    padding-left: 10px;
}
a#ctl00_ContentPlaceHolder1_lbNext svg {
    transform: rotate(calc(1 * 90deg));
}
img.productBlock_image{
	width:275px !important;
	height:275px !important;
}

/*li.productListProducts_product:hover{
	background:#1e8ece;
}*/
.productBlock {
    padding: 10px !important;
}
.price,.brand {
    padding: 0 10px;
	box-sizing:border-box;
}
.productBlock_button-moreInfo,.productBlock_button-moreInfo:hover,.productBlock_button-moreInfo:focus{
	background-color: #1e8ece;
    border-color: #1e8ece;
	color:#fff;
}
.responsivePaginationButton:hover, .responsivePaginationNavigationButton:hover {
	text-decoration: none;
	background-color: #1e8ece;
}
.responsivePaginationButton:hover svg, .responsivePaginationNavigationButton:hover svg{
	fill:#fff;
}
span.was {
    text-decoration: line-through;
    font-family: "Work Sans",sans-serif;
    line-height: 1.4;
    letter-spacing: 0;
    color: #888;
    padding-right: 10px;
}
span.now {
    color: #ff384b;
	 font-family: "Work Sans",sans-serif;
    line-height: 1.4;
    letter-spacing: 0;
	font-size:20px;
	font-weight:600;
}
.responsiveProductListPage_bottomPagination {
    display: none;
}
aside {
    border-right: 2px solid #ddd;
    padding-right: 20px !important;
}
h3#productBlock_productName-11519320 {
    height: 48px;
    max-height: 48px;
    overflow: hidden;
}
.productListProducts_products .productListProducts_product {
    border-bottom: 2px solid #ddd;
}
.breadcrumbs_item.breadcrumbs_item.breadcrumbs_item.breadcrumbs_item.breadcrumbs_item {
     color: #000;
     text-decoration: underline;
}
h2#responsive-facets-title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.productBlock_actions {
     justify-content: center;
}
.responsiveProductListPage {
    border-top: 2px solid #ddd;
}
.breadcrumbs_link,.breadcrumbs_item.breadcrumbs_item.breadcrumbs_item.breadcrumbs_item.breadcrumbs_item:after,
.breadcrumbs_item.breadcrumbs_item.breadcrumbs_item.breadcrumbs_item.breadcrumbs_item {
     font-size: 22px;
	 
}
.responsiveProductListPage {
       margin-top: 0;
   }

/*----responsive----*/
@media(min-width:900px){
	.responsiveProductListPage_sortAndPagination {
		position: relative;
		padding-top:10px;
	}
	.responsiveProductListPage_sort {
		position: absolute;
		right: 0;
	}
	
}
/*@media(max-width:360px) {
	.mob-side-menu {
		top: 534px;
		overflow: hidden;
	}
}
@media(min-width:361px) and (max-width:374px)
{
	.mob-side-menu {
		top: 518px;
		overflow: hidden;
	}
}
@media(min-width:375px) and (max-width:377px)
{
	.mob-side-menu {
		top: 492px;
		overflow: hidden;
	}
}
@media(min-width:378px) and (max-width:464px)
{
	.mob-side-menu {
		top: 473px;
		overflow: hidden;
	}
}
@media(min-width:465px) and (max-width:480px)
{
	.mob-side-menu {
		top: 450px;
		overflow: hidden;
	}
}*/
@media(max-width:372px){
	.productBlock_button.productBlock_button-moreInfo.btnAddToCart {
		padding: 6px;
		font-size: 12px;
	}
	.productBlock_button.productBlock_button-moreInfo {
		padding: 6px;
		font-size: 12px;
	}
	.productQuickbuySimple {
		font-size: 12px !important;
		padding: 6px !important;
	}
}
@media(max-width:360px){
	img.productBlock_image {
		width: 110px !important;
		height: 110px !important;
	}
	.productBlock_productName {
		font-size: 14px;
		max-height: 65px;
		overflow: hidden;
		height: 65px;
	}
	.was, .now {
		font-size: 12px;
	}
}
@media(min-width:361px) and (max-width:400px){
	img.productBlock_image {
		width: 125px !important;
		height: 125px !important;
	}
	.productBlock_productName {
		font-size: 15px;
		max-height: 65px;
		overflow: hidden;
		height: 65px;
	}
}
@media(min-width:401px) and (max-width:480px){
	img.productBlock_image {
		width: 145px !important;
		height: 145px !important;
	}
	.productBlock_productName {
		font-size: 15px;
		max-height: 65px;
		overflow: hidden;
		height: 65px;
	}
}
@media(max-width:466px){
	.responsiveFacets_container {
		top: 260px;
		margin-top: 61px;
	}
}
@media(max-width:480px)
{
	/*img.productBlock_image {
		width: 100% !important;
		height: auto !important;
	}*/
	.papBanner_text {
		font-size: 12px !important;
	}
	.productListProducts_products .productListProducts_product {
		margin-left: 2px;
		margin-right: 2px;
	}
}
@media(min-width:481px) and (max-width:500px){
	img.productBlock_image {
		width: 190px !important;
		height: 190px !important;
	}
	.productBlock_productName {
		max-height: 70px;
		overflow: hidden;
		height: 70px;
	}
}
@media(min-width:501px) and (max-width:567px){
	img.productBlock_image {
		width: 206px !important;
		height: 206px !important;
	}
	.productBlock_productName {
		max-height: 70px;
		overflow: hidden;
		height: 70px;
	}
}
@media(min-width:481px) and (max-width:567px)
{
	/*.mob-side-menu {
		top: 450px;
		overflow: hidden;
	}*/
	/*img.productBlock_image {
		width: 100% !important;
		height: auto !important;
	}*/
	.productListProducts_products .productListProducts_product {
		margin-left: 4px;
		margin-right: 4px;
	}
}
@media(max-width:599px){
	.responsivePaginationNavigationButton.paginationNavigationButtonPrevious, .responsivePaginationNavigationButton.paginationNavigationButtonPrevious[disabled] {
		display: block;
	}
	.paginationNavigationButtonNext, .paginationNavigationButtonNext[disabled] {
		display: block;
	}
	.responsivePaginationButton, .responsivePaginationNavigationButton{
		padding-top:5px;
	}
	.responsiveProductListPage_bottomPagination {
		justify-content: right;
	}
}
@media(min-width:568px) and (max-width:667px)
{
	/*.mob-side-menu {
		top: 450px;
		overflow: hidden;
	}*/
	img.productBlock_image {
		width: 235px !important;
		height: 235px !important;
	}
	.productBlock_productName {
		max-height: 65px;
		overflow: hidden;
		height: 65px;
	}
	.productListProducts_products .productListProducts_product {
		margin-left: 4px;
		margin-right: 4px;
	}
}
@media(min-width:668px) and (max-width:767px)
{
	img.productBlock_image {
		width: 265px !important;
		height: 265px !important;
	}
	.productBlock_productName {
		max-height: 48px;
		overflow: hidden;
		height: 48px;
	}
	.productListProducts_products .productListProducts_product {
		margin-left: 11px;
		margin-right: 11px;
	}
}
@media(max-width:767px){
	span.now {
		font-size: 16px;
	}
}
@media(min-width:768px) and (max-width:899px)
{
	img.productBlock_image {
		width: 265px !important;
		height: 265px !important;
	}
	.productBlock_productName {
		max-height: 48px;
		overflow: hidden;
		height: 48px;
	}
	.productListProducts_products .productListProducts_product {
		margin-left: 11px;
		margin-right: 11px;
	}
}
@media(min-width:668px) and (max-width:899px)
{
	/*.mob-side-menu {
		top: 450px;
		overflow: hidden;
	}*/
}
@media(max-width:899px)
{
	.brand-wrap,.skin-wrap,.price-wrap,.save-wrap,.s-tool-wrap,.s-con-wrap,.make-p-wrap,.make-t-wrap,.make-c-wrap,.body-p-wrap,.body-t-wrap{
	   display:block;
	}
	
	.responsiveProductListPage_sortAndPagination {
		position: relative;
	}
	.mob-side-menu {
		top: 55px !important;
	}
	.mob-side-menu .responsiveFacets_sectionContentWrapper {
		margin-bottom: 0;
		padding-bottom:10px;
	}
	/*----mob filters----*/
	.responsiveFacets_container {
		height: auto;
	}
	.responsiveFacets_container {
		background: #f2f2f2;
		left: 0;
		right: 0;
		top: 320px;
		bottom: 0;
		flex-direction: column;
		z-index: 9999;
		position: absolute;
		visibility: visible;
		opacity: 1;
		height: auto;
	}
	.responsiveProductListPage_facets .responsiveFacets_head {
			display: block;
	}
	.responsiveFacets_content {
		display: block !important;
	}
	.responsiveFacets_sectionContainer {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: relative;
		overflow: hidden;
	}
	.responsiveFacets_overrideButtonStyle.responsiveFacets_sectionBackArrow {
		display: none;
	}
	.responsiveFacets_sectionHead-mobile {
		display: none;
	}
	.responsiveFacets_sectionHead {
		display: block;
	}
	.responsiveFacets_mobileSectionTitle {
		display: none;
	}
	.responsiveFacets_sectionContentWrapper {
		margin-bottom: 10px;
		overflow-y: auto;
	}
	.responsiveFacets_container.responsiveFacets_container-transitioned{

		display:none;
	}
	.responsiveFacets_overrideButtonStyle.responsiveFacets_menuClose {
		display: none;
	}
	.responsiveProductListPage_facets .responsiveFacets_head {
		min-height: 70px;
		background: #f2f2f2;
		padding-top: 30px;
	}
	.responsiveProductListPage_facets .responsiveFacets_sectionTitle, .responsiveProductListPage_facets .responsiveFacets_title {
		margin: 0;
	}
	#responsive-facets-title {
		text-align: right;
	}
	.responsiveProductListPage_facets .responsiveFacets_sectionHead {
		width: 100%;
	}
	.responsiveProductListPage_facets .responsiveFacets_sectionTitle {
		float: left;
		width: 50%;
		text-align: left;
	}
	.brand-icon,.price-icon {
		float: left;
		width: 50%;
		text-align: right;
		padding-top:3px;
	}
	.price-wrap,.brand-wrap {
		display: none;
	}
	.responsiveProductListPage_sortAndPagination {
		padding-top: 20px;
	}
	h2#responsive-facets-title {
		border-bottom: none;
		padding-bottom: 10px;
	}
	/*#attr .brand {
		position: relative;
	}
	#attr .brand::after {
		content: "\f067";
		position: absolute;
		font-family: FontAwesome;
		right: 10px;
	}*/
	/*----mob filters----*/
}
@media(min-width:900px){
	.price-icon,.brand-icon{
		display:none;
	}
}
@media(min-width:900px) and (max-width:991px)
{
	img.productBlock_image {
		width: 165px !important;
		height: 165px !important;
	}
	.productBlock_productName {
		max-height: 96px;
		overflow: hidden;
		height: 96px;
	}
	#ddsort {
		width: 223px;
	}
}
@media(min-width:992px) and (max-width:1024px)
{
	img.productBlock_image {
		width: 185px !important;
		height: 185px !important;
	}
	.productBlock_productName {
		max-height: 48px;
		overflow: hidden;
		height: 48px;
	}
	#ddsort {
		width: 223px;
	}
}
@media(min-width:1025px) and (max-width:1100px)
{
	img.productBlock_image {
		width: 195px !important;
		height: 195px !important;
	}
	.productBlock_productName {
		max-height: 48px;
		overflow: hidden;
		height: 48px;
	}
	#ddsort {
		width: 223px;
	}
}
@media(min-width:1101px) and (max-width:1200px)
{
	img.productBlock_image {
		width: 215px !important;
		height: 215px !important;
	}
	.productBlock_productName {
		max-height: 48px;
		overflow: hidden;
		height: 48px;
	}
	#ddsort {
		width: 223px;
	}
}
@media(min-width:1201px) and (max-width:1339px)
{
	img.productBlock_image {
		width: 235px !important;
		height: 235px !important;
	}
}