.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#fff; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }




		.MultiCarousel .MultiCarousel-inner .item > div img{
			width:100%;
			height:auto;
		}
		.cst-p.MultiCarousel .MultiCarousel-inner .item > div
		{
			position:relative;
		}
		.cst-p.MultiCarousel .MultiCarousel-inner .item > div p{
			font-family:"Work Sans",sans-serif;
			font-size:24px;
			font-weight:600;
			line-height:1.4;
			color:#333;
			padding-top:10px;
			position:absolute;
			bottom:0;
		}
		.MultiCarousel .MultiCarousel-inner .item > div p span.was{
			font-family:"Work Sans",sans-serif;
			font-size:24px;
			font-weight:400;
			line-height:1.4;
			color:#333;
			padding-top:10px;
			text-decoration:line-through;
		}
		.MultiCarousel .MultiCarousel-inner .item > div p span.now{
			font-family:"Work Sans",sans-serif;
			font-size:24px;
			font-weight:600;
			line-height:1.4;
			color:#333;
			padding-top:10px;
		}
		button.btn.btn-primary.leftLst,button.btn.btn-primary.rightLst,button.btn.btn-primary.rightLst:hover,button.btn.btn-primary.leftLst:hover{
			border: 1px solid #c4c4c4;
			background: #fff;
			width: 50px;
			height: 50px;
			color:#000;
			font-weight:600;
			border-radius:0;
			
		}
		button.btn.btn-primary.leftLst.pro-left,button.btn.btn-primary.rightLst.pro-right,
		button.btn.btn-primary.rightLst.pro-right:hover,button.btn.btn-primary.leftLst.pro-left:hover{
			border: 1px solid #c4c4c4;
			background: #fff;
			width: 30px;
			height: 30px;
			color:#000;
			font-weight:600;
			border-radius:0;
			line-height:15px;
		}
		button.btn.btn-primary.rightLst i,button.btn.btn-primary.leftLst.over i {
			font-weight: 700;
			font-size: 18px;
		}
		.MultiCarousel.product-cro .MultiCarousel-inner .item > div{
			text-align:left;
		}
		/*.MultiCarousel.product-cro .leftLst {
			left: 26px;
		}*/
		.blog-p.MultiCarousel .MultiCarousel-inner .item > div img {
			width: 100%;
			height: 128px;
		}

		#carousel-example-generic .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
			width: 100%;
		}
		/*.MultiCarousel .MultiCarousel-inner .item > div:hover {
			background: #1e8ece;
		}*/
		.MultiCarousel .MultiCarousel-inner .item > div.shop-div img {
			width: 397px;
			height: 238px;
		}
		.MultiCarousel .MultiCarousel-inner .item > div.disc-img img{
			width:288px;
			height:288px;
		}
		p.wasnow_home {
			position: relative !important;
			font-size:20px;
			margin:0 !important;
			padding:0 !important;
		}
		p.wasnow_home span {
			font-size: 20px !important;
		}
		span.was {
			text-decoration: line-through !important;
			font-family: "Work Sans",sans-serif;
			line-height: 1.4;
			letter-spacing: 0;
			color: #888 !important;
			padding-right: 10px;
		}
		span.now {
			color: #ff384b !important;
			font-family: "Work Sans",sans-serif;
			line-height: 1.4;
			letter-spacing: 0;
			font-size: 20px;
			font-weight: 600;
		}
		p.wasnow_home {
				line-height: 30px !important;
		}
		p.wasnow_home span {
			line-height: 10px !important;
		}
		.productBlock_priceBlock {
			height: 30px;
			min-height: 30px;
			max-height: 30px;
		}

/*----responsive----*/
		@media(max-width:480px){
			p.wasnow_home {
				line-height: 10px !important;
			}
			p.wasnow_home span {
				font-size: 15px !important;
				line-height: 10px !important;
			}
			.productBlock_priceBlock {
				height: 40px;
				min-height: 40px;
				max-height: 40px;
			}
		}
		@media(min-width:481px) and (max-width:567px){
			p.wasnow_home {
				line-height: 30px !important;
			}
			p.wasnow_home span {
				font-size: 16px !important;
				line-height: 10px !important;
			}
			.productBlock_priceBlock {
				height: 30px;
				min-height: 30px;
				max-height: 30px;
			}
		}
		@media(min-width:568px) and (max-width:1200px){
			p.wasnow_home {
				line-height: 30px !important;
			}
			p.wasnow_home span {
				line-height: 10px !important;
			}
			.productBlock_priceBlock {
				height: 30px;
				min-height: 30px;
				max-height: 30px;
			}
		}
		@media(min-width:768px)
		{
			#carousel-example-generic .carousel-inner > .item > a > img{
				height:500px !important;
			}
		}
/*----responsive----*/