﻿.button-sectoin {
	float: left;
	width: 100%;
	padding: 0;
	margin:0;
	text-align:center;
}
.button-sectoin li {
	display: inline-block;
	padding: 30px 10px 5px;
}
.button-sectoin li a {
	background-color: #1e8ece;
	border-width: 2px;
	border-style: solid;
	border-color: #1e8ece;
	font-family: "Work Sans",sans-serif;
	font-size: 15px;
	letter-spacing: .19px;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.33;
	display: inline-block;
	transition: background-color .2s;
	padding: 12.5px 12px;
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
	display: block;
	width: 100%;
}
.button-sectoin li a:hover {
	background-color: #1e8ece;
	border-color: #1e8ece;
	color: #fff;
	text-decoration: underline;
}
.extra-mul{
	display:none;
}
.sub-box-cnt {
	float: left;
	width: 100%;
	padding: 32% 0;
}
.sub-title {
    margin-top: 10px;
}
/*----responsive----*/
@media(max-width:480px)
{
	.button-sectoin li a {
		font-size: 13px;
		transition: background-color .2s;
		padding: 12.5px 6px;
	}
	.button-sectoin li {
		padding: 30px 5px 5px;
	}
	.papBanner.papBanner_popupLink {
		margin: auto;
	}
	.productBlock_rating_container {
		display: block;
	}
	.productBlock_button.productBlock_button-moreInfo {
		width: 200px;
		margin: auto;
	}
	.sub-box-cnt {
		padding: 30px 0;
	}
}
@media(min-width:481px) and (max-width:567px)
{
	.button-sectoin li {
		display: inline-block;
		padding: 30px 5px 5px;
	}
	.button-sectoin li a {
		font-size: 13px;
		padding: 12.5px 7px;
	}
	.sub-box-cnt {
		padding: 30px 0;
	}
	.papBanner.papBanner_popupLink {
		margin: auto;
	}
	.productBlock_rating_container {
		display: block;
	}
	.productBlock_button.productBlock_button-moreInfo {
		width: 200px;
		margin: auto;
	}
}
@media(min-width:568px) and (max-width:667px){
	.button-sectoin li a {
		font-size: 13px;
	}
	.sub-box-cnt {
		padding: 30px 0;
	}
	.papBanner.papBanner_popupLink {
		margin: auto;
	}
	.productBlock_rating_container {
		display: block;
	}
	.productBlock_button.productBlock_button-moreInfo {
		width: 200px;
		margin: auto;
	}
}
@media(min-width:668px) and (max-width:767px){
	.button-sectoin li a {
		font-size: 13px;
	}
	.sub-box-cnt {
		padding: 30px 0;
	}
	.papBanner.papBanner_popupLink {
		margin: auto;
	}
	.productBlock_rating_container {
		display: block;
	}
	.productBlock_button.productBlock_button-moreInfo {
		width: 200px;
		margin: auto;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.sub-box-cnt {
		padding: 20% 0;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.sub-box-cnt {
		padding: 15% 0;
	}
}
/*----responsive----*/