﻿.product-main-div{
	float:left;
	padding:40px 0;
}
.title{
	font-family: "Work Sans",sans-serif;
    font-size: 37px;
    line-height: 48px;
    letter-spacing: 1px;
    color: #333;
    font-weight: 700;
      padding-left: 0;
      text-align: center;
    padding-bottom: 40px;
}
.whislist-time {
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
    margin: 0 0 16px 0;
    padding-left: 12px;
}
.product-image {
    float: left;
    width: 100%;
}
.product-desc {
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    float:left;
    margin: 15px 0 0;
    word-break: break-word;
}
.product-price {
    font-family: "Work Sans",sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0;
    color: #333;
    font-weight: 600;
    text-transform: none;
	float: left;
    width: 100%;
    padding: 10px 0;
}
.prodcuct-button {
    float: left;
    width: 100%;
	padding-top:10px;
}
.prodcuct-button a, .prodcuct-button a:hover, .prodcuct-button a:focus {
    background-color: #1e8ece;
    border: 2px solid#1e8ece ;
    color: #fff;
	font-family: "Work Sans",sans-serif;
    font-size: 15px;
	line-height:1.33;
	padding:12.5px 12px;
    letter-spacing: .19px;
    text-transform: uppercase;
    color: #fff;
	border-radius: 6px;
    cursor: pointer;
    text-align: center;
	box-sizing:border-box;
}
.continue-section {
    float: left;
    width: 100%;
    padding: 40px 0 40px;
    text-align: center;
    border-top: 1px solid #c4c4c4;
}
.add-more{
	float:left;
	width:100%;
	padding:10px 0;
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
}
.continue-btn{
	float:left;
	width:100%;
	text-align:center;
}
.continue-btn a{
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    letter-spacing: .19px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    line-height: 1.5;
    display: inline-block;
    transition: background-color .2s;
    padding: 12.5px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.product-div {
    float: left;
    width: 100%;
    position: relative;
}
span.close-icon {
    position: absolute;
    right: 10px;
    top: -10px;
    background: #ddd;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
}