﻿<%@ WebHandler Language="C#" Class="managecustomerorder" %>

using System;
using System.Web;

public class managecustomerorder : IHttpHandler {
    
    public void ProcessRequest (HttpContext context) {
        System.Collections.Specialized.NameValueCollection forms = context.Request.Form;
        string strOperation = forms.Get("oper");
        string strResponse = string.Empty;
        string Id = context.Request.QueryString["Id"];

        if (strOperation == null)
        {

            var jsonSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
            jsonSerializer.MaxJsonLength = int.MaxValue;
            var x = jsonSerializer.Serialize(

                new OrderBLL().GetOrderSummaryByUserId(Convert.ToInt32(Id)));

            context.Response.Write(x);
        }
        else if (strOperation == "del")
        {


        }
    }
 
    public bool IsReusable {
        get {
            return false;
        }
    }

}