﻿<%@ WebHandler Language="C#" Class="notification" %>

using System;
using System.Web;

public class notification : IHttpHandler {
    
   
    public void ProcessRequest (HttpContext context) {
        System.Collections.Specialized.NameValueCollection forms = context.Request.Form;
        string strOperation = forms.Get("oper");
        string strResponse = string.Empty;
        string Type = context.Request.QueryString["Type"];

        if (strOperation == null)
        {

            var jsonSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
            jsonSerializer.MaxJsonLength = int.MaxValue;
            var x = jsonSerializer.Serialize(

                new NotificationBLL().GetNotificationAccToType(Type));

            context.Response.Write(x);
        }
        else if (strOperation == "del")
        {


        }
    }
 
    public bool IsReusable {
        get {
            return false;
        }
    }

}