﻿.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
    width: 100% !important;
    left: 0 !important;
	top:0 !important;
}
.dvpop-maintable{
	float:left;
	width:100%;
}
td.bill-info-td {
    float: left;
    width: 27%;
}
td.customer-info-td {
    float: left;
    width: 70%;
    margin-left: 30px;
}
table.bill-info-table table tr td:first-child {
    text-align: left !important;
}
table.customer-info-table table tr td:first-child {
    text-align: left !important;
}
.product-detail-div {
    float: left;
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
table#tbProductInfo td {
    text-align: center;
    vertical-align: middle;
}
div#btnprint {
    margin-left: 20px;
    margin-right: 20px;
}
div#btnAddProduct {
    margin-top: -17px;
    height: 27px !important;
    margin-left: 5px;
	padding-top:8px !important;
}
.ui-dialog .ui-dialog-titlebar-close span {
   
    top: 1px;
    left: 1px;
}


div#gbox_jQGridDemoProduct {
    width: 100% !important;
}
div#gview_jQGridDemoProduct {
    width: 100% !important;
}
div#t_jQGridDemoProduct {
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
}
table#jQGridDemoProduct {
    width: 100% !important;
}
div#jQGridDemoPagerProduct {
    width: 100% !important;
}
table#jQGridDemoProduct td {
    text-align: center;
}