﻿.migrate_product .product_main {
    height: 230px !important;
}
.product_main table td {
    width: 100% !important;
    padding: 4px 2px !important;
}
.product_main table input[type=checkbox] {
    float: left;
    margin: 0px;
    width: 100% !important;
}
.top_table select {
    width: 330px !important;
    height: 25px !important;
}
tbody.customTable td {
    text-align: center;
    vertical-align: middle;
}