﻿.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
    width: 100% !important;
    left: 0 !important;
	top:0 !important;
}
.dvpop-maintable{
	float:left;
	width:100%;
}
td.bill-info-td {
    float: left;
    width: 27%;
}
td.customer-info-td {
    float: left;
    width: 70%;
    margin-left: 30px;
}
table.bill-info-table table tr td:first-child {
    text-align: left !important;
}
table.customer-info-table table tr td:first-child {
    text-align: left !important;
}
.product-detail-div {
    float: left;
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
