﻿#rightnow .reallynow span {
    display: block;
    text-align: center !important;
    float: left;
    padding: 0px;
    font-size: 20px;
    width: 100%;
    color: #fff;
}
td.add-stock-td {
    vertical-align: top;
}
td#td_itemcode_sku {
    vertical-align: top;
}
#content {
    width: 87% !important;
}
/*input#tbaddstock {
    width: 100%;
}
input#tbitemcode_sku {
    width: 100%;
}*/