﻿select#ddlPrefix {
    height: 34px !important;
    border-radius: 4px;
    position: relative;
    left: -4px;
}
div#view1 table td {
    text-align: left;
	width:110px;
}
.ui-state-default .ui-icon {
    background-image: url(images/ui-icons_888888_256x240.png);
    left: 0 !important;
    top: 0 !important;
}