﻿.mananagehome_top_panel {
    font-size: 12px;
    padding: 25px 15px;
    width: 100%;
    float: left;
}
.mananagehome_top_panel_shadow {
    float: left;
    width: 100%;
    box-shadow: 3px 3px 5px #00000061;
    background: #ffffff85;
    padding: 25px;
}
input#tbitemcode {
    height: 26px;
}
span#lblerror {
    padding-left: 10px;
}
table.table.img-table td {
    width: 33.33%;
}

.type-tbl input,.type-tbl select {
    width: 90%;
}