﻿table#frmOffers textarea {
    border: 1px solid #c3d7db;
}
/*table#frmOffers select {
   height:29px;
}*/
div#dvFromDate table td:first-child {
    width: 217px !important;
    padding-left: 0;
	
}
div#dvFromDate table td:last-child {
    padding-left: 0 !important;
	padding-right:0;
    border: none;
}
div#dvFromDate table td:last-child input{
   width:100% !important;
}
div#dvToDate table td:first-child {
    width: 217px !important;
    padding-left: 0;
}
div#dvToDate table td:last-child {
    padding-left: 0 !important;
	padding-right:0;
    border: none;
}
div#dvToDate table td:last-child input{
   width:100% !important;
}
div#dvPoint table input {
    height: 29px;
}
div#dvDiscount table input {
    height: 29px;
}
div#dvGifts table input {
    height: 29px;
}