﻿.mananagehome_top_panel {
    font-size: 12px;
    padding: 25px 15px;
    width:100%;
	float:left;
}
.hm_cst {
    border-radius: 0 !important;
}
.mananagehome_top_panel_shadow{
	float: left;
    width: 100%;
    box-shadow: 3px 3px 5px #00000061;
    background: #ffffff85;
	padding:25px;           
}
.select_dd_brand{
	height:25px;
	 position: relative;
    top: 1px;
}
.select_dd_ype {
    height: 25px;
    position: relative;
    top: 1px;
}
.cst-managehome-col div#tbl_product_wrapper,.cst-managehome-col div#tbl_product_list_wrapper,
.cst-managehome-col div#tbl_brand_wrapper,.cst-managehome-col div#tbl_brand_list_wrapper,
.cst-managehome-col div#tbl_brand_sl_wrapper,.cst-managehome-col div#tbl_brand_list_sl_wrapper {
    box-shadow: 3px 3px 5px #00000061;
    background: #ffffff85;
    width: 100%; 
	padding-bottom:20px;
}
.cst-managehome-col {
 	padding-bottom:25px;
}
.cst-managehome-col div#tbl_product_length, .cst-managehome-col div#tbl_product_list_length,
.cst-managehome-col div#tbl_brand_length, .cst-managehome-col div#tbl_brand_list_length,
.cst-managehome-col div#tbl_brand_sl_length, .cst-managehome-col div#tbl_brand_list_sl_length {
    float: left;
    margin-top: 4px;
	padding-left:10px;
}
.cst-managehome-col div#tbl_product_filter, .cst-managehome-col div#tbl_product_list_filter,
.cst-managehome-col div#tbl_brand_filter, .cst-managehome-col div#tbl_brand_list_filter,
.cst-managehome-col div#tbl_brand_sl_filter, .cst-managehome-col div#tbl_brand_list_sl_filter {
    float: right;
    margin-top: 4px;
	padding-right:10px;
}
.managehome_table {
    margin: 0;
}
.managehome_table th{
	cursor:pointer;
}
button.btnadd.btn.btn-primary.btn-small {
    border-radius: 0;
    padding: 8px 6px;
}
.cst-managehome-col div#tbl_product_info,.cst-managehome-col div#tbl_product_paginate,
.cst-managehome-col div#tbl_product_list_info, .cst-managehome-col div#tbl_product_list_paginate,
.cst-managehome-col div#tbl_brand_info,.cst-managehome-col div#tbl_brand_paginate,
.cst-managehome-col div#tbl_brand_list_info, .cst-managehome-col div#tbl_brand_list_paginate,
.cst-managehome-col div#tbl_brand_sl_info, .cst-managehome-col div#tbl_brand_sl_paginate, 
.cst-managehome-col div#tbl_brand_list_sl_info, .cst-managehome-col div#tbl_brand_list_sl_paginate {
    padding-left: 10px;
}
.cst-managehome-col div#tbl_product_paginate a,.cst-managehome-col div#tbl_product_list_paginate a,
.cst-managehome-col div#tbl_brand_paginate a,.cst-managehome-col div#tbl_brand_list_paginate a,
.cst-managehome-col div#tbl_brand_sl_paginate a,.cst-managehome-col div#tbl_brand_list_sl_paginate a {
    padding: 10px 4px;
	cursor:pointer;
}
.cst-managehome-col div#tbl_product_paginate a:first-child,.cst-managehome-col div#tbl_product_list_paginate a:first-child,
.cst-managehome-col div#tbl_brand_paginate a:first-child,.cst-managehome-col div#tbl_brand_list_paginate a:first-child,
.cst-managehome-col div#tbl_brand_sl_paginate a:first-child,.cst-managehome-col div#tbl_brand_list_sl_paginate a:first-child {
    padding-left:0px;
}
button.btndel.btn.btn-primary.btn-small{
	border-radius:0;
}
a.paginate_button.current{
	color:#23527c;
}
.search-section {
    float: left;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 20px;
}
.search-section input[type="text"] {
    height: 27px;
    width: 354px;
}
.managehome_table tr table td {
    padding-left: 10px;
}


 .tbl-width>tbody>tr>td, .tbl-width>tbody>tr>th, .tbl-width>tfoot>tr>td, .tbl-width>tfoot>tr>th, .tbl-width>thead>tr>td, .tbl-width>thead>tr>th
 {
	 padding:8px 2px !important;
 }
 .add-edit-table input[type=file] {
    width: 100%;
    font-size: 13px !important;
}
 .add-edit-table select#ddlCategory {
    height: 24px;
    padding: 2px;
    color: #202020;
    margin-top: 5px;
	border-radius: 0;
}
.add-edit-table select#dd_amt_type{
    height: 24px;
    padding: 2px;
    color: #202020;
    margin-top: 5px;
	border-radius: 0;
}
.add-edit-table select#dd_offeron {
    width: 100%;
}
.add-edit-table textarea#txtdesc {
    border: 1px solid #c3d7db;
}
.add-edit-table img#img_shopsale {
    width: 100%;
}
.first-show-div {
    float: left;
    width: 100%;
}
.second-div-show {
    float: left;
    width: 100%;
}