﻿table.top_table.view-product-table {
    width: 100% !important;
}
table.table.list-table tr {
    display: table;
    float: left;
    width: 50%;
}
.product_main{
	float:left;
	width:50%;
}
div#dvTopBasket {
	float: right;
    width: 58%;
    margin: 0 0px;
    box-shadow: 3px 3px 5px #00000061;
    background-color: #ffffff85;
}
table.midle_table {
    width: 100% !important;
	box-shadow:none !important;
	background-color:transparent;
}
.midle_table [type=file] {
    float: left;
    width: 50% !important;
}
.midle_table td input[type=checkbox] {
    width: auto !important;
    float: left;
    margin-right: 5px !important;
}
.midle_table tr td:last-child {
    border-right: none;
}
table.add-product-table tr:first-child td {
    padding: 0;
}
table.top_table.add-product-table {
    width: 40% !important;
}
table.category_table.add-pro-table-btn .btn-cst {
    color: #fff;
    background: #28a745;
    border-color: #28a745;
}
table.top_table.view-product-table input[type=checkbox] {
    margin-right: 5px;
}
table.category_table.add-pro-table-btn {
    text-align: center;
}
table.category_table.add-pro-table-btn tr:first-child td {
    display: unset;
    float: none;
}
.item_table.table>tbody>tr>td, .item_table.table>tbody>tr>th, .item_table.table>tfoot>tr>td, .item_table.table>tfoot>tr>th, 
.item_table.table>thead>tr>td, .item_table.table>thead>tr>th {
    padding: 4px;
}