﻿.slider-type {
    font-size: 12px;
    padding: 25px 25px;
    width: 95%;
    float: left;
    box-shadow: 3px 3px 5px #00000061;
    background-color: #ffffff85;
    margin: 25px 0px 25px 25px;
}
.new-slider-div {
    float: left;
    width: 50%;
    margin-bottom: 25px;
}
.new-slider-col{
	 font-size: 12px;
    padding: 25px 25px;
    width: 95%;
    float: left;
    box-shadow: 3px 3px 5px #00000061;
    background-color: #ffffff85;
    margin: 0px 0px 25px 25px;
}
.new-img-div input {
    border: unset;
}
.new-img-div span {
    float: left;
    width: 70px;
}
.new-img-div {
	float: left;
	width: 100%;
	margin-bottom:10px;
}
.new-url-div{
	float:left;
	width:100%;
	margin-bottom:10px;
}
.new-url-div span {
    float: left;
    width: 70px;
	padding-top:10px;
}
.new-url-div textarea {
    width: 80%;
}

.trend-slider-div {
    float: left;
    width: 50%;
    margin-bottom: 25px;
}
.trend-slider-col{
	 font-size: 12px;
    padding: 25px 25px;
    width: 95%;
    float: left;
    box-shadow: 3px 3px 5px #00000061;
    background-color: #ffffff85;
    margin: 0px 0px 25px 25px;
}
.slider-type select {
    width: 200px !important;
}

.trend-img-div input {
    border: unset;
}
.trend-img-div span {
    float: left;
    width: 70px;
}
.trend-img-div {
	float: left;
	width: 100%;
	margin-bottom:10px;
}
.trend-url-div{
	float:left;
	width:100%;
	margin-bottom:10px;
}
.trend-url-div span {
    float: left;
    width: 70px;
	padding-top:10px;
}


.trend-url-div textarea {
    width: 80%;
}
table.table.managehome_table.tbl-width {
    margin: 0;
}