﻿.youhave table {
    width: 100%;
        margin: 0 0 15px;
}
.top_table {
    width: 50% !important;
    float: left;
    box-shadow: 3px 3px 5px #00000061;
    background-color: #ffffff85;
}
.admin_user {
    float: left;
    box-shadow: 3px 3px 5px #00000061;
    background-color: #ffffff85;
}
.admin_user_contant {
    float: left;
    box-shadow: 3px 3px 5px #00000061;
    background-color: #ffffff85;
    width: 98% !important;
}
.admin_user_contant td {
    padding: 4px 7px;
    text-align: left;
    color: #000;
}
.admin_user_contant tr:nth-child(odd) {
    background-color: #dadada;
}
.top_table td {
    padding: 5px 10px;
    text-align: left;
}
.top_table input {
    width: 100%;
	height:25px;
}
.top_table select {
    width: 100%;
	height:25px;
}
.top_table [type=file] {
    border: none;
}
.midle_table select {
    width: 100%;
}
.top_table textarea {
    width: 100%;
}
.top_table #FileUpload1 {
    border: none;
    cursor: pointer;
}
.midle_table [type=file] {
    border: none;
    cursor: pointer;
}
.category_table {
    float: left;
    clear: both;
        margin-top: 20px !important;
}
.item_table {
    border: 1px solid #a9a9a9;
    float: left;
}
.top_table td:last-child {
    border-right: 1px solid #a9a9a9;
}
input[type=checkbox], input[type=radio] {
    float: left;
    margin: 0px;
    width: auto;
}
.upload_img {
    width: 40%;
    float: right;
    padding: 25px 0;
}
.upload_img img {
    width: 150px;
    height: 150px;
}
.midle_table {
    width: 50% !important;
    float: left;
    clear: both;
    box-shadow: 3px 3px 5px #00000061;
    background-color: #ffffff85;
}
.midle_table td {
    padding: 10px 10px;
    text-align: left;
}
.midle_table tr:first-child td {
    padding: 0px;
}
.midle_table tr td:last-child {
    border-right: 1px solid #a9a9a9;
}
.midle_table td input {
    width: 100%;
	height:25px;
}
.manage_category_table {
    width: 48% !important;
    float: left;
    border: 1px solid #a9a9a9;
    margin: 25px 0 0 !important;
}
.manage_category_table h3 {
    margin: 0px;
    padding: 5px 25px !important;
    background-color: #294145 !important;
    color: #fff;
}



.youhave #gbox_jQGridDemo {
    width: 100% !important;
    float: left;
}
.youhave #gview_jQGridDemo {
    width: 100% !important;
}
.youhave .ui-jqgrid-hdiv {
    width: 100% !important;
}
.youhave .ui-jqgrid-bdiv {
    width: 100% !important;
}
.youhave #jQGridDemoPager {
    width: 100% !important;
}
.youhave #jQGridDemo {
    width: 100% !important;
}
.youhave .ui-jqgrid-htable {
    width: 100% !important;
}
.youhave #t_jQGridDemo {
    width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-hbox{
    padding:0px !important;
}


.youhave #jQGridDemoPager {
    width: 100% ;
}
.youhave .ui-jqgrid-hdiv {
    width: 100% ;
}
.youhave .ui-jqgrid-hbox {
    width: 100% ;
}
.youhave .ui-jqgrid-htable {
    width: 100% ;
}
.youhave .ui-jqgrid-titlebar {
    background-color: #294145;
    color: #fff;
    padding: 5px 25px;
    font-size: 12px;
}
.item_table th {
    width: 60px;
    text-align: center;
    padding: 5px 0;
}
.migrate_product .product_main {
    width: 23%;
    float: left;
    border: solid 1px silver;
    text-align: center;
    padding: 10px;
    margin: 5px 5px;
    border-radius: 10px;
        height: 200px;
            box-shadow: 3px 3px 5px #00000061;
    background-color: #ffffff85;
}

.top_table textarea {
    width: 100%;
    border: 1px solid #c3d7db;
}
