﻿.mananagehome_top_panel {
    font-size: 12px;
    padding: 25px 15px;
    width: 100%;
    float: left;
}
.mananagehome_top_panel select {
    height: 24px;
}
.mananagehome_top_panel_shadow {
    float: left;
    width: 100%;
    box-shadow: 3px 3px 5px #00000061;
    background: #ffffff85;
    padding: 25px;
}
.mananagehome_top_panel.second-select {
    padding-top: 0;
}
.table-div {
    padding: 0px 15px 25px;
    width: 100%;
    float: left;
}
.table-div .table th {
    border-top: 1px solid;
}
.headings {
    float: left;
    width: auto;
    line-height: 24px;
    padding-right: 10px;
}
select.form-control.select-cat-main {
    float: left;
    width: 200px;
    padding: 0 5px;
    font-size: 12px;
}
.second-select select{
    width: 145px;
    float: left;
    padding: 0 5px;
    font-size: 12px;
    margin-right: 10px;
	height:25px;
}
.second-select input[type=number]{
    width: 70px;
    float: left;
    padding: 0 5px;
    font-size: 12px;
    margin-right: 10px;
	height:25px;
}
 .second-select input[type=date] {
    width: 135px;
    float: left;
    padding: 0 5px;
    font-size: 12px;
    margin-right: 10px;
	height:25px;
}