﻿#rightnow {
    width: 80%;
    float: left;
}
.mananagehome_top_panel {
    font-size: 12px;
    padding: 25px 15px;
    width:100%;
	float:left;
}
.mananagehome_top_panel_shadow{
	float: left;
    width: 100%;
    box-shadow: 3px 3px 5px #00000061;
    background: #ffffff85;
	padding:25px;           
}
.select-ssid{
	width:200px;
}
.first-show-div {
    float: left;
    width: 100%;
}
.second-div-show {
    float: left;
    width: 80%;
}
.cst-managehome-col {
    padding-bottom: 25px;
}
.reallynow {
    padding: 9px;
    float: left;
    width: 100%;
    margin: 0px 4px;
    background-color: #294145  !important;
	color:#fff;
}
.managehome_table tr table td {
    padding-left: 10px;
}
.managehome_table tr table td a {
    font-weight: bold;
}
input#txtautofill_products {
    width: 80% !important;
    margin-left: 10px !important;
}
