/*pre-define classes*/
body{ padding:0 0 0 0; }


.box1 span:nth-child(3) {
    height: 35px;
}

.box1 span:nth-child(4) {
    height: 34px;
    padding-top: 5px;
}

 .dvChangable
    {
        margin:0px;padding:0px;float:left;
        }
    .atcSelect
    {
        margin-bottom:5px; padding:3px;width:112px;border:solid 1px silver
        }
    .tbAtc
    {
        width:100%;margin-left:0px;background:#F4FBEE; 
        }
    .atcVar
    {
        
        margin-left:10px;background-color:#f4f2f2;width:68px;border:solid 1px silver;border-radius:4px
        }
    .atc
    {
        padding:2px; margin-left:10px; margin-top:10px;
        }
    
.priceDiv
{
    width:115px;float:left;border:solid 1px silver;border-radius:5px;background:#d2cfcf;
    }
.decr
{
width:15px;float:left;background:#d2cfcf;padding:0px 0 0 3px;cursor:pointer    
}
.incr
{
    width:10px;float:left;background:#d2cfcf;padding:0px 0 0 3px;cursor:pointer
}

.box15{ border:1px solid #d6d3d3;
    border-radius: 5px;
	box-shadow: 5px 5px 5px #888888; width:156px;
	margin:10px 20px 20px 0px; text-decoration:none; float:left;
	padding-bottom:10px;
	}
	
.box15 span{
    color: #692731;
    font-size:12px;
    font-weight: 400px;
    text-transform: uppercase;
	margin-left:32px;
	
}

.box15 h2{
    color: #692731;
    font-size:12px;
    font-weight:650;
    text-transform: uppercase;
	font-family:Verdana, Geneva, sans-serif;
	margin:10px 0 0px 0px;
	
}



.box5{ border:1px solid #d6d3d3;
    border-radius: 5px;
	box-shadow: 5px 5px 5px #888888; width:250px;
	margin:10px; text-decoration:none; float:left;
	padding:5px;
	}

.boximage
{
    border:solid 0px #d6d3d3; margin-top:20px;width:150px;height:150px;
    }

.veginner
{
  height: 2px; background-color: #abaaaa; text-align: left;margin-top:20px;
  
    }
    .vegspan
    {
        background-color: white; position: relative; top:-0.6em;font-size:25px; font-family:Verdana, Geneva, sans-serif; color:#3c3b3b; 
        }

	.inputCommon
        {
             border:1px solid #ccc;
			color:gray;
			font-style:italic;
			border-radius:3px;
			border-color:silver;
			height:30px;
			width:90%;
			
        }	

.headingStyle
{
    background:black;color:White;font-weight:bold;padding:5px;box-shadow:2px 2px 2px black;
 
    }
.btnYellow
{
    padding:5px;height:30px;box-shadow:2px 1px 3px rgba(0, 0, 0, 0.2);font:400 13px/15px 'Roboto Slab',serif;border:1px solid #ebcb77;background:linear-gradient(to bottom, #fee77c 0px, #f2ca76 99%) repeat scroll 0 0 rgba(0, 0, 0, 0)
    
 }
 
 .btnGray
{
    padding:5px;
background:linear-gradient(to bottom, #fff 0px, #ebedea 99%) repeat scroll 0 0 rgba(0, 0, 0, 0)    ;
border:1px solid #e4e4e4;
box-shadow:2px 2px 2px #ccc;
border-radius:5px;
font:400 12px "Roboto Slab",serif;
margn:5px 0 15px;
 }
 
.inputtext
{
 
border:2px solid #e0e0e0;
border-radius:4px;
height:30px ;
width:100%;
margin:5px;
}
.heading
{
color:#58595b;   
text-align:right;
 padding-right:10px;
 }
 
p,h1,h2,h3,h4,h5,h6,ul,li,form,img{ font-weight:normal; margin:0; list-style:none; border:none; }

 .abc
{
	border-left:solid 1px silver;
	margin:0px 0 0 0;
}

.menu{
	margin:0px;
	padding:5px 0 5px 0;
	float:right;
}

.menu ul{
	list-style:none;
	float:right;
}

.menu ul li{
	font-family:"Myriad Pro";
	font-size:14px;
    color:#6ba52e;
	list-style-type:none;
	float:left;
	padding:0 16px 0 0;
	margin:0 14px 0 0;
	border-right:solid 1px white;
	
}

.menu ul li:last-child{
	font-family:"Myriad Pro";
	font-size:14px;
    color:#6ba52e;
	list-style-type:none;
	float:left;
	padding:0 0px 0 0;
	margin:0 0px 0 0;
	border-right:solid 0px;
}




.menu ul li a{
	font-family:"Myriad Pro";
	font-size:14px;
    color:white;
	list-style-type:none;
	text-decoration:none;
	display:block;
	
}

.menu ul li a:hover{
	display:block;
	color:yellow}
	
	
	
	
.phone{
	margin:0px;
	padding:5px 0 5px 0;
	float:right;
}

.phone h3{
	font-family:"Myriad Pro";
	font-size:14px;
    color:#6ba52e;
	list-style-type:none;
	float:left;
	padding:3px 13px 0px 0px;
	
}

.phone ul{
	list-style:none;
	float:right;
}

.phone ul li{
	font-family:"Myriad Pro";
	font-size:14px;
    color:#6ba52e;
	list-style-type:none;
	float:left;
	padding:0 5px 0 0;
	
}


.phone ul li a{
	font-family:"Myriad Pro";
	font-size:14px;
    color:#d30102;
	list-style-type:none;
	text-decoration:none;
	display:block;
	
}

.phone ul li a:hover{
	display:block;
	color:#6ba52e;}

	


.item{
	margin:0px;
	padding:5px 0 5px 0;
	float:right;
}

.item h5{
	margin:0px;
	color:#6ba52e;
	padding:5px 0 5px 0;
	float:right;
}

.item p{
	margin:0px;
	padding:0px 0 0 12px;

}

.freedelivery{
	margin:10px 0 0 0px;
	padding:0 0 0 0px;
	
 }
 
 
 .freedelivery h2{
	margin:0 0 0 0px;
	padding:0 0 0 0px;
	font-size:18px;
	color:#858484;
	font-family:"Arial";


 }



.callus{
	background:#386C3F;
	margin:0 0 0 0px;
	padding:12px 0px 10px 10px;
	
 }
.callus h2{
	margin:0 0 0 0px;
	padding:0 0 0 0px;
	font-size:15px;
	color:#ffffff;
	font-family:"Myriad Pro";


 }
 
 .border
{
	border-right:solid 1px silver;
	margin:5px 0 0 0;
}


.slider{ margin:0px 0 0 0; padding:0px; width:100%; }

.yourbasket{ margin:10px 0 0 0; padding:0 0 10px 0;  background-color: #FFFFFF;
    border: 1px solid #aba6a6;
    display: block;
   
     }
	 
.yourbasket h5{ margin:0px; padding:0 0 0 6px;
font-family:Verdana, Geneva, sans-serif;
font-size:14px;
color:#444343;    

     }
	
.basketitem h4{ margin:0px 0 0 0; padding:0px; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#3c3b3b; }
.basketitem h5{line-height:1.5; margin:0px 0 0 0; padding:0px; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#3c3b3b; }


	 
.vegetables{ margin:20px 0 0 0; padding:0px; }

.boxbordre{ border:solid 0px #d6d3d3; margin:25px 0 15px 0;}

.box1{ border:1px solid #d6d3d3;
    border-radius: 0px;
	box-shadow: 0px 0px 0px #888888; max-width:250px;
	margin:2px; text-decoration:none; float:left;
height:325px;text-align:center;}
	
.box1 span{
    color: #692731;
    font-size:12px;
    font-weight: 400px;
    text-transform: uppercase;
	margin-left:0px;
	float:left;
	width:100%;
	text-align:center;
}

.box1 h2{
    color: #692731;
    font-size:12px;
    font-weight:650;
    text-transform: uppercase;
	font-family:Verdana, Geneva, sans-serif;
	margin:5px;
	
}


.qty{ 
	width:60px;
	text-decoration:none;
	margin-right:16px;
	margin-top:8px;
	float:right;
	}
	
	.qty h5{ font-family:Verdana, Geneva, sans-serif; font-size:12px; padding:0; color:#557d36;
	}
	


.enqury{ background:#ff4040; border:1px solid #c00608; height:40px;}

.enqury h2{ color:#FFF; height:40px; font-size:14px; font-family:Arial, Helvetica, sans-serif; padding:10px 0px 0px 10px; }

.ask{ margin:20px 0 0 90px; padding:0px; width:80px; border:1px solid #744206; background:#ed8f1f; border-radius:3px; }
.ask h4{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding:8px; }

.inputEnquiry
        {
            background: url("../images/writeimg.png") no-repeat scroll 4px 4px transparent;
            padding-left: 26px;
            border:1px solid #ccc;
			color:gray;
			font-style:italic;
			border-radius:3px;
			border-color:silver;
        }
	
	
		
		.inputEnquiry2
        {
            background: url("../images/messagebox.png") no-repeat scroll 2px 2px transparent;
            padding-left: 26px;
            border:1px solid #ccc;
			color:gray;
			font-style:italic;
			border-radius:3px;
			border-color:silver;
			height:30px;
			
        }
		
		.bigtext{
    font-size: 8pt;
}

.link{ padding:0px; margin:20px 0 0px 0px; }
.link h2{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#FFFFFF; }
.link ul{ padding:0px; margin:0px; list-style:none; }
.link ul li{ padding:4px 0 0 1px; margin:0 0 0 0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; }

.button2{ margin:20x 0 0 0; }


/*landing page*/

.fruitbox{ margin:10px 0 0 0; padding:0 0 0 0; border:solid 1px #eeeeee;border-radius:5px}
.fruitbox img{cursor:pointer;margin:auto;margin-top:5px}

.fruitbox:hover{ margin:10px 0 0 0; padding:0 0 0 0; border:solid 1px #eeeeee;border-radius:5px;box-shadow:3px 3px 3px #676767;transform:translateX(-2px) translateY(-2px);transition:all 0.3s ease 0s; }

.fruitbox h2{cursor:pointer; margin:10px 0 0 0; padding:0 0 0 0; color:#444140; font-size:18px; font-family:Arial, Helvetica, sans-serif; text-align:center; }

.fruitbox hr{ margin:10px 0 0 0; border-bottom: 1px solid #8b7e71; padding:0 0 0 0; color:#444140; font-size:18px; font-family:Arial, Helvetica, sans-serif; }

.explorebutton{margin:auto; background-color:#ff4040; width:100px; padding:8px 8px; margin-top:20px;margin-bottom:20px;cursor:pointer;border-radius:5px}

.explorebutton h3{ width:100px; padding:0 13px 0 0;  margin:0; text-align:center; font-size:13px; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif;}

/*landing page end*/
