﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="all_imgs.aspx.cs" Inherits="backoffice_all_imgs" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
           <asp:Literal ID="ltrtd" runat="server"></asp:Literal>
        <%--<table>
            <asp:Literal ID="ltrtd" runat="server"></asp:Literal>
        </table>--%>
   <%--  <asp:GridView ID="Gv_imgs" CssClass="grid" runat="server" AutoGenerateColumns="false" ShowHeader="false">  
      <Columns> --%> 
          <%-- <asp:BoundField DataField="Text" HeaderText="Name" />  --%>
<%--            <asp:ImageField DataImageUrlField="Value" ControlStyle-Height="75" ControlStyle-Width="75" HeaderText="Images" />  
      </Columns>  
 </asp:GridView> --%>
    </div>
    </form>
</body>
</html>
