﻿<%@ Page Title="" Language="C#" MasterPageFile="~/backoffice/admin.master" AutoEventWireup="true" CodeFile="manageedituserregistration.aspx.cs" Inherits="backoffice_manageedituserregistration" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
      <script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
   
  <script src="js/jquery.jqGrid.js" type="text/javascript"></script>
     <script src="js/grid.locale-en.js" type="text/javascript"></script>
 <link href="js/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
    
    <link href="js/ui.jqgrid.css" rel="stylesheet" type="text/css" />
       <link href="js/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-ui.js" type="text/javascript"></script>

      
    <script type="text/javascript" src="js/jquery.uilock.js"></script>
    <form   runat="server" id="formID" method="post">
   <asp:HiddenField ID="hdnId" runat="server"/>
<div id="content" style="padding:6px">
       			<div id="rightnow">
                    <h3 class="reallynow">
                        <span>Edit User Registration</span>
                     
                        <br />
                    </h3>
				   <div class="youhave" style="padding-left:30px">
                   <table cellpadding="0" cellspacing="0" border="0" id="frmReg">
                     
                   
                     <tr><td class="headings">FirstName:</td><td style="width: 223px">  <input type="text"  name="txtFirstName" class="inputtxt validate required alphanumeric"   data-index="1" id="txtFirstName" style="width: 213px" runat="server"/></td><td>
                         <asp:RequiredFieldValidator ID="req_FirstName" runat="server" ControlToValidate="txtFirstName" ErrorMessage="*" ForeColor="#CC0000"></asp:RequiredFieldValidator>
                         </td></tr>
                          <tr><td class="headings">LastName:</td><td style="width: 223px">  <input type="text"  name="txtLastName" class="inputtxt validate required alphanumeric"   data-index="1" id="txtLastName" style="width: 213px" runat="server"/></td><td></td></tr>
                             
                             <tr><td class="headings">IsActive:</td><td>     <input type="checkbox" id="chkIsActive" checked="checked" runat="server" data-index="2"  name="chkIsActive" />
                                            </td></tr>                      
  
                                                    
 
                                                    
                                                    
                       <tr><td class="headings">Enter Text</td><td style="width: 223px">
                           &nbsp;</td><td>
                                                                   &nbsp;</td></tr>
                        <tr><td></td><td style="width: 223px">
                      <asp:CheckBox ID="chkAgree" Text ="Terms and conditions I agree" runat="server" Font-Bold="True" /></td></tr>
                      
                 
                      
                                            <tr>
                                             
                                            <td colspan="100%" style="padding-left:45px"  >
                                            <table cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td></td>
                                            <td>&nbsp;</td><td> <asp:Button ID="btnAdd" runat="server" class="btn btn-primary btn-small" Text="Submit" OnClick="btnAdd_Click" /></td>
                                           <td></td>
                                                <td>

                                                </td>
                                            </tr>
                                            </table>
                                            </td>
                                            
                                            </tr>

                     </table>
                    			 
       
                    </div>
			  </div>
               




            </div>
</form>
</asp:Content>



