﻿<%@ Page Title="" Language="C#" MasterPageFile="~/backoffice/admin.master" AutoEventWireup="true" CodeFile="managecoupons.aspx.cs" Inherits="backoffice_managecoupons" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
  <script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
   
  <script src="js/jquery.jqGrid.js" type="text/javascript"></script>
     <script src="js/grid.locale-en.js" type="text/javascript"></script>
 <link href="js/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="css/custom-css/master.css" rel="stylesheet" />
    <link href="js/ui.jqgrid.css" rel="stylesheet" type="text/css" />
       <link href="js/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-ui.js" type="text/javascript"></script>

      
    <script type="text/javascript" src="js/jquery.uilock.js"></script>

 
     
   
<script language="javascript" type="text/javascript">
    var m_couponId = 0;


    function ResetControls() {
        m_couponId = 0;
        var txtTitle = $("#txtTitle");
        var btnAdd = $("#btnAdd");
        var btnUpdate = $("#btnUpdate");
        txtTitle.focus();
        txtTitle.val("");
        txtTitle.focus();
        btnAdd.css({ "display": "block" });
        btnAdd.html("Add Coupon");
        $("#txtDescription").val("");
        $("#txtCouponNo").val("");
        btnUpdate.css({ "display": "none" });
        btnUpdate.html("Update Coupon");
       
        $("#btnReset").css({ "display": "none" });
        $("#hdnId").val("0");
        validateForm("detach");
        $('#txtCouponNo').attr('disabled', false);
    }

    function TakeMeTop() {
        $("html, body").animate({ scrollTop: 0 }, 500);
    }

    function RefreshGrid() {
        $('#jQGridDemo').trigger('reloadGrid');

    }

    function InsertUpdate() {
        if (!validateForm("frmCoupon")) {
            return;
        }
        var Id = m_couponId;
        var CouponNo = $("#txtCouponNo").val();
        var Title = $("#txtTitle").val();
        if ($.trim(Title) == "") {
            $("#txtTitle").focus();

            return;
        }

        var Description = $("#txtDescription").val();
        $.ajax({
            type: "POST",
            data: '{"CouponId":"' + Id + '","CouponNo":"' + CouponNo + '", "Title": "' + Title + '","Description": "' + Description + '"}',
            url: "managecoupons.aspx/Insert",
            contentType: "application/json",
            dataType: "json",
            success: function (msg) {

                var obj = jQuery.parseJSON(msg.d);

                if (obj.Status == 0) {

                    alert("Insertion Failed.Coupon No already exists.");
                    return;
                }

                if (Id == "0") {
                    ResetControls();
                    BindGrid();
                    alert("Coupon is added successfully.");
                }
                else {
                    ResetControls();
                    BindGrid();
                    alert("Coupon is Updated successfully.");
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {

                var obj = jQuery.parseJSON(xhr.responseText);
                alert(obj.Message);
            },
            complete: function () {
                $.uiUnlock();
            }
        });

    }

    $(document).ready(
    function () {
        BindGrid();

        $("#btnAdd").click(
        function () {

            m_couponId = 0;
            InsertUpdate();
        }
        );


        $("#btnUpdate").click(
        function () {
            InsertUpdate();
        }
        );

      


        $("#btnReset").click(
        function () {

            ResetControls();

        }
        );


    }
    );


</script>



<form   runat="server" id="formID" method="post">
   <asp:HiddenField ID="hdnRoles" runat="server"/>
<div id="content">
       			<div id="rightnow">
                    <h3 class="reallynow">
                        <span>Add/Update Coupon Value</span>
                     
                        <br />
                    </h3>
				   <div class="youhave">
                   <table cellpadding="0" cellspacing="0" border="0" id="frmCoupon" class="top_table">
                     
                     <tr><td class="headings">CouponNo:</td><td>  <input type="text"  name="txtCouponNo" class="inputtxt validate required alphanumeric"   data-index="1" id="txtCouponNo" /></td></tr>
                     <tr><td class="headings">Title:</td><td>  <input type="text"  name="txtTitle" class="inputtxt validate required alphanumeric"   data-index="1" id="txtTitle" /></td></tr>
                         <tr>
                        <td class="headings">
                            Description:
                        </td>
                        <td>
                            <textarea rows="3" name="txtDescription" class="inputtxt" id="txtDescription"></textarea>
                        </td>
                    </tr>                            
                     </table>

                                            <table cellspacing="0" cellpadding="0" class="category_table">
                                            <tr>
                                            <td> <div id="btnAdd"  class="btn btn-primary btn-small" >Add Coupon</div></td>
                                            <td><div id="btnUpdate"  class="btn btn-primary btn-small" style="display:none;" >Update Coupon</div></td>
                                            <td><div id="btnReset"  class="btn btn-primary btn-small" style="display:none;width:60px;" >Cancel</div></td>
                                            </tr>
                                            </table>
                    			 
       
                    </div>
			  </div>
               


               <div id="rightnow">
                    <h3 class="reallynow">
                        <span>Manage Coupons </span>
                      
                        <br />
                    </h3>
				    <div class="youhave">
                    
      	          <table id="jQGridDemo">
    </table>
    <div id="jQGridDemoPager">
    </div>
      
                    </div>
			  </div>

            </div>
</form>

            <script type="text/javascript">
                function BindGrid() {
                    jQuery("#jQGridDemo").GridUnload();
                    jQuery("#jQGridDemo").jqGrid({
                        url: 'handlers/ManageCoupon.ashx',
                        ajaxGridOptions: { contentType: "application/json" },
                        datatype: "json",

                        colNames: ['CouponId','CouponNo', 'Title', 'Description','DOC','AdminId'],
                        colModel: [
                                    { name: 'CouponId', key: true, index: 'CouponId', width: 100, stype: 'text', sorttype: 'int', hidden: true },
                                    

                                     { name: 'CouponNo', index: 'CouponNo', width: 200, stype: 'text', sortable: true, editable: true,hidden: false , editrules: { required: true } },
                                    { name: 'Title', index: 'Title', width: 200, stype: 'text', sortable: true, editable: true,hidden: false , editrules: { required: true } },
                                     { name: 'Description', index: 'Description', width: 200, stype: 'text', sortable: true, editable: true,hidden: false , editrules: { required: true } },
                                    { name: 'DOC', index: 'DOC', width: 200, stype: 'text', sortable: true, editable: true,hidden: true, editrules: { required: true } },
                                   { name: 'Title', index: 'Title', width: 200, stype: 'text', sortable: true, editable: true,hidden: true, editrules: { required: true } },


                        ],
                        rowNum: 10,

                        mtype: 'GET',
                        loadonce: true,
                        rowList: [10, 20, 30],
                        pager: '#jQGridDemoPager',
                        sortname: 'CouponId',
                        viewrecords: true,
                        height: "100%",
                        width: "400px",
                        sortorder: 'asc',
                        caption: "Coupons List",

                        editurl: 'handlers/managecoupons.ashx',



                    });




                    $("#jQGridDemo").jqGrid('setGridParam',
            {
                onSelectRow: function (rowid, iRow, iCol, e) {
                    m_couponId = 0;
                    validateForm("detach");
                    var txtTitle = $("#txtTitle");
                    m_couponId = $('#jQGridDemo').jqGrid('getCell', rowid, 'CouponId');
                     $("#txtCouponNo").val($('#jQGridDemo').jqGrid('getCell', rowid, 'CouponNo'))
                    $("#txtDescription").val($('#jQGridDemo').jqGrid('getCell', rowid, 'Description'))
                
                    txtTitle.val($('#jQGridDemo').jqGrid('getCell', rowid, 'Title'));

                    txtTitle.focus();
                    $("#btnAdd").css({ "display": "none" });
                    $("#btnUpdate").css({ "display": "block" });
                    $("#btnReset").css({ "display": "block" });
                    TakeMeTop();
                    $('#txtCouponNo').attr('disabled', true);
                }
            });

            var DataGrid = jQuery('#jQGridDemo');
            DataGrid.jqGrid('setGridWidth', '500');

            $('#jQGridDemo').jqGrid('navGrid', '#jQGridDemoPager',
                             {
                                 refresh: false,
                                 edit: false,
                                 add: false,
                                 del: false,
                                 search: false,
                                 searchtext: "Search",
                                 addtext: "Add",
                             },

                             {//SEARCH
                                 closeOnEscape: true

                             }

                               );



        }





    </script>

</asp:Content>

