﻿<%@ Page Title="" Language="C#" MasterPageFile="~/backoffice/admin.master" AutoEventWireup="true" CodeFile="ShipRocketOrders.aspx.cs" Inherits="backoffice_ShipRocketOrders" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
              <script>
              $(document).ready(function () {

                  GetOrderShiprocket();


                  function GetOrderShiprocket() {
                      var token = "";


                      $.ajax({
                          url: 'https://apiv2.shiprocket.in/v1/external/auth/login?email=rahulthakur9942@gmail.com&password=Ebsretail1952@',

                          type: 'POST',

                          dataType: 'json',

                          success: function (data, textStatus, xhr) {

                              token = data.token;
                              //var jsonData = JSON.stringify({ "order_id": $("#hdnorderid").val(), "order_date": orderdate, "pickup_location": "Primary", "comment": "Reseller: M/s Goku", "billing_customer_name": firstname, "billing_last_name": '', "billing_address": address, "billing_address_2": "", "billing_city": city, "billing_pincode": pincode, "billing_state": state, "billing_country": "India", "billing_email": email, "billing_phone": phoneno, "shipping_is_billing": true, "shipping_customer_name": firstname, "shipping_last_name": lastname, "shipping_address": address, "shipping_address_2": "", "shipping_city": city, "shipping_pincode": pincode, "shipping_country": "", "shipping_state": state, "shipping_email": email, "shipping_phone": phoneno, "order_items": Orderdetail, "payment_method": paymode, "shipping_charges": shipping_charges, "giftwrap_charges": 0, "transaction_charges": 0, "total_discount": discountamt, "sub_total": subtotal, "weight": 0.5, "length": 10, "breadth": 10, "height": 10 });
                              var settings = {
                                  "async": true,
                                  "crossDomain": true,
                                  "url": "https://apiv2.shiprocket.in/v1/external/orders",
                                  "method": "GET",
                                  "dataType": "json",
                                  "headers": {
                                      "authorization": "Bearer " + token + "",
                                      "content-type": "application/json",
                                      "cache-control": "no-cache",
                                      "postman-token": "f90c527f-b03c-da0e-3956-01a2569d0866"
                                  },
                                  "processData": false,
                                  "data": ''
                              }

                              $.ajax(settings).done(function (response) {
                            
                                  var html = "";
                                  for (var i = 0; i < response.data.length; i++) {
                                      html = html + "<tr><td>" + response.data[i].customer_name + "</td><td>" + response.data[i].customer_email + "</td><td>" + response.data[i].created_at + "</td><td>" + response.data[i].customer_address + "</td><td>" + response.data[i].customer_phone + "</td><td>" + response.data[i].payment_method + "</td><td>" + response.data[i].total + "</td></tr>"
                                  }
                                  $("#tbl_ordertable").html(html);
                              });

                          },
                          error: function (xhr, textStatus, errorThrown) {
                              console.log('Error in Database');


                          }
                      });


                  }
                });
            </script>
    <table">
        <tr>
            <th>
                Customer Name
            </th>
             <th>
                Customer Email
            </th>
                  <th>
                Created On
            </th>
                          <th>
               Address
            </th>
                    <th>
               Phone No
            </th>
                        <th>
               Payment Method
            </th>
                                <th>
              Bill Value
            </th>
        </tr>
        <tbody id="tbl_ordertable">

        </tbody>
    </table>
</asp:Content>

