﻿body{
	font-family:"Work Sans",sans-serif !important;
}
ul#main-menu li {
    background: #1E8ECE !important;
}
ul#main-menu {
    border-top:1px solid #ccc !important;
	  border-bottom:1px solid #ccc !important;
	  background:transparent;
}
ul#main-menu li a{
  	font-family:"Work Sans",sans-serif !important;
}
ul#main-menu li a:hover{
	 background: #1E8ECE !important;
}
ul.vert-one li a {
    background: #1E8ECE;
	font-family:"Work Sans",sans-serif !important;
}
ul.vert-one li:first-child a {
	color: #333 !important;
    background: transparent !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
}
.headingStyle{
		color: #333 !important;
    background: transparent !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
	box-shadow:none;
	font-family:"Work Sans",sans-serif !important;
}
ul.vert-one li a.current, ul.vert-one li a.current:hover {
    background: rgba(30, 142, 206, .7);
}
ul.vert-one li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
ul.vert-one li a:hover {
   background: rgba(30, 142, 206, .9);
}
.btn-success {
    color: #ffffff;
    background-color: #1E8ECE;
    border-color: #1E8ECE;
	margin:8px;
	font-family:"Work Sans",sans-serif !important;
}
.btn-success:hover{
	 background: rgba(30, 142, 206, .7);
}
.heading {
    color: #333;
    text-align: left;
    padding-right: 10px;
    font-family: "Work Sans",sans-serif;
}
.col-md-12 {
    border-radius: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
}
.ftr-user{
	display:none;
}

ul.vert-one li a i {
    font-size: 18px;
    width: 30px;
}


/*----responsive----*/
@media(max-width:334px){
	.breadcrumbs a {
		font-size: 13px;
	}
}
@media(min-width:768px) and (max-width:920px) {

	ul.vert-one li a {
		font-size: 13px;
		padding-left: 9px;
	}
	ul.vert-one li a i {
		font-size: 14px;
		width: 14px;
	}
}
/*----responsive---*/