﻿.inputtext,select,textarea {
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    height: 32px;
    width: 250px !important;
    margin: 8px;
	padding:7px;
}
.heading {
    width: 150px !important;
}
.adddress-textarea{
	width:93% !important;
}

/*----responsive----*/
@media(max-width:667px) {
	table tr{
		float:left;
		width:100%;
	}
	table tr:first-child td{
		width:100% !important;
	}
	table td:first-child, table td:nth-child(4) {
		float: left;
		width: 40% !important;
	}
	table td:nth-child(2), table td:nth-child(5) {
		float: left;
		width: 60% !important;
	}
	.heading {
		padding-top: 14px;
	}
	.inputtext, select, textarea {
		width: 97% !important;
	}
	.pincode-tr td:nth-child(3) {
		display: none;
	}
	.pincode-tr td:nth-child(6) {
		float:left;
		width: 40% !important;
	}
	.pincode-tr td:nth-child(7) {
		float:left;
		width: 60% !important;
	}
	.pincode-tr td:last-child {
		display: none;
	}
	.area-tr td:nth-child(3) {
		display: none;
	}
	.area-tr td:last-child {
		display: none;
	}
	.area-tr td:nth-child(6) {
		float:left;
		width: 40% !important;
	}
	.area-tr td:nth-child(7) {
		float:left;
		width: 60% !important;
	}
}
@media(min-width:668px) and (max-width:767px){
	.heading {
		width: 16% !important;
	}
	.inputtext, select, textarea {
		width: 100% !important;
	}
	.adddress-textarea {
		width: 100% !important;
	}
}
@media(min-width:768px) and (max-width:991px){
	.heading {
		width: 10% !important;
		font-size: 13px;
	}
	.inputtext, select, textarea {
		width: 100% !important;
		font-size: 13px;
	}
	.adddress-textarea {
		width: 100% !important;
		font-size: 13px;
	}
}
@media(min-width:992px) and (max-width:1260px)
{
	.adddress-textarea {
		width: 97% !important;
	}
	
}

/*@media(max-width:1024px){
	.personal-table {
		overflow: auto;
	}
	.address-table {
		overflow: auto;
	}
}*/
/*----responsive----*/