﻿input,select,textarea {
    border: 1px solid #8c8c8c !important;
    border-radius: 4px;
    height: 32px;
    width: 100%;
    margin: 8px;
	padding:7px;
}

/*----responsive----*/
@media(max-width:480px){
	#frmAddress input, #frmAddress select, #frmAddress textarea {
		width: 90% !important;
	}
}
@media(max-width:767px){
	.youhave {
		padding-left: 0 !important;
	}
}
/*----responsive----*/