﻿.inputtext {
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    height: 32px;
    width: 100%;
    margin: 8px;
	padding:7px;
}

/*----responsive----*/
@media(max-width:360px){
	.inputtext {
		width: 92%;
	}
}
/*----responsive----*/