﻿input,select,textarea {
    border: 1px solid #8c8c8c !important;
    border-radius: 4px;
    height: 32px;
   
   
	padding:7px;
}
select{
	height:34px !important;
}

div#gbox_jQGridDemo {
    width: 100% !important;
}
div#gview_jQGridDemo {
    width: 100% !important;
}
div#t_jQGridDemo {
    width: 100% !important;
	    padding-bottom: 32px !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
}
table#jQGridDemo {
    width: 100% !important;
}
div#jQGridDemoPager {
    width: 100% !important;
}
input#globalSearchText {
    height: 28px;
}
table#jQGridDemo td {
    text-align: center;
}
select.ui-pg-selbox {
    height: 20px !important;
    padding: 0;
}
.ui-jqgrid .ui-jqgrid-hbox {
    padding-right: 0 !important;
}

/*----responsive----*/
@media(max-width:667px){
	#frmAddress tr{
		float:left;
		width:100%;
	}
	#frmAddress tr:first-child td{
		width:100% !important;
	}
	#frmAddress td:first-child, #frmAddress td:nth-child(3) {
		float: left;
		width: 40% !important;
	}
	#frmAddress td:nth-child(2), #frmAddress td:nth-child(4) {
		float: left;
		width: 60% !important;
	}
	#frmAddress input,#frmAddress select,#frmAddress teaxtarea {
		width: 100% !important;
	}
	.mobile-tr td:nth-child(5) {
		float:left;
		width: 40%;
	}
	.mobile-tr td:last-child {
		float:left;
		width: 60%;
	}
	.city-tr td:nth-child(5) {
		float: left;
		width: 40%;
	}
	.city-tr td:last-child {
		float: left;
		width: 60%;
	}
	#txtAddress {
		width: 100% !important;
	}
}
@media(min-width:668px) and (max-width:767px){
	#frmAddress input, #frmAddress select, #frmAddress teaxtarea {
		width: 200px !important;
	}
	#txtAddress {
		width: 92% !important;
	}
}
@media(min-width:768px) and (max-width:820px){
	#txtAddress {
		width: 96% !important;
	}
}
@media(min-width:821px) and (max-width:840px){
	#txtAddress {
		width: 95% !important;
	}
}
@media(min-width:841px) and (max-width:870px){
	#txtAddress {
		width: 94% !important;
	}
}
@media(min-width:871px) and (max-width:890px){
	#txtAddress {
		width: 93% !important;
	}
}
@media(min-width:891px) and (max-width:920px){
	#txtAddress {
		width: 92% !important;
	}
}
@media(min-width:921px) and (max-width:950px){
	#txtAddress {
		width: 91% !important;
	}
}
@media(min-width:951px) and (max-width:970px){
	#txtAddress {
		width: 90% !important;
	}
}
@media(min-width:971px) and (max-width:991px){
	#txtAddress {
		width: 89% !important;
	}
}
@media(min-width:768px) and (max-width:991px){
	#frmAddress input, #frmAddress select, #frmAddress teaxtarea {
		width: 150px !important;
	}

}
@media(max-width:991px){
	.youhave {
		padding-left: 0 !important;
	}
	/*.add-edit-table {
		overflow: auto;
	}*/
	.dlivery-address-list {
		overflow: auto;
	}
}
@media(min-width:992px) and (max-width:1004px){
	#txtAddress {
		width: 97% !important;
	}
}
@media(min-width:1005px) and (max-width:1024px){
	#txtAddress {
		width: 96% !important;
	}
}
@media(min-width:1025px) and (max-width:1035px){
	#txtAddress {
		width: 94% !important;
	}
}
@media(min-width:1036px) and (max-width:1055px){
	#txtAddress {
		width: 93% !important;
	}
}
@media(min-width:1056px) and (max-width:1085px){
	#txtAddress {
		width: 92% !important;
	}
}
@media(min-width:1086px) and (max-width:1100px){
	#txtAddress {
		width: 91% !important;
	}
}
@media(min-width:1025px) and (max-width:1100px){
	#frmAddress input, #frmAddress select, #frmAddress teaxtarea {
		width: 200px !important;
	}
	
	#frmAddress #chkprimary {
		width: auto !important;
	}
}
@media(min-width:1101px) and (max-width:1140px){
	#txtAddress {
		width: 92% !important;
	}
}
@media(min-width:1141px) and (max-width:1170px){
	#txtAddress {
		width: 91% !important;
	}
}
@media(min-width:1171px) and (max-width:1200px){
	#txtAddress {
		width: 90% !important;
	}
}
@media(min-width:1201px) and (max-width:1230px){
	#txtAddress {
		width: 89% !important;
	}
}
@media(min-width:1231px) and (max-width:1270px){
	#txtAddress {
		width: 88% !important;
	}
}
@media(min-width:1271px) and (max-width:1320px){
	#txtAddress {
		width: 87% !important;
	}
}
/*----responsive----*/