﻿input,select {
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    height: 32px;
    width: 100%;
    margin: 8px;
	padding:7px;
}
.recipient-table{
	    color: #333 !important;
    background: transparent !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: none;
    font-family: "Work Sans",sans-serif !important;

	border-left:none !important;
	border-right: none !important;
}
.recipient-table-tr-head{
	    color: #333 !important;
    background: transparent !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: none;
    font-family: "Work Sans",sans-serif !important;
	border-left:none !important;
	border-right: none !important;
}
.recipient-table-tr-head th{
	color:#333 !important;
}
/*----responsive----*/
@media(max-width:991px){
	.youhave {
		overflow: auto;
	}
	.view-table select {
		width: 100px;
	}
}
/*----responsive----*/