﻿.payment-fail {
	text-align: center;
	font-family: "Work Sans", sans-serif;
	border: 1px solid #000;
	padding: 30px;
	width: 50%;
	display: block;
	margin: 30px auto;
	
}
.payment-fail img {
	width: 100px;
	height: 100px;
}
.payment-fail a {
	font-family: "Work Sans",sans-serif;
	font-size: 15px;
	letter-spacing: .19px;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.33;
	display: inline-block;
	transition: background-color .2s;
	padding: 12.5px 12px;
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
	background-color: #1e8ece;
	border-color: #1e8ece;
	text-decoration:none;
}

/*----responsive----*/
@media(max-width:480px) {
	.payment-fail {
		padding: 30px;
		width: 60%;
	}
	.payment-fail h1 {
		font-size: 24px;
	}
}
/*----responsive----*/