﻿.payment-div {
	text-align: center;
	font-family: "Work Sans", sans-serif;
	border: 1px solid #000;
	padding: 30px;
	width: 50%;
	display: table;
	margin: 30px auto;
	
}
.payment-div img {
	width: 100px;
	height: 100px;
}
.payment-div a {
	font-family: "Work Sans",sans-serif;
	font-size: 15px;
	letter-spacing: .19px;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.33;
	display: inline-block;
	transition: background-color .2s;
	padding: 12.5px 12px;
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
	background-color: #1e8ece;
	border-color: #1e8ece;
	text-decoration:none;
}
.delivery-section {
    float: left;
    width: 100%;
    padding-top: 30px;
}
.delivery-fro {
    float: left;
    width: 50%;
    text-align: left;
}
.delivery-method {
    float: left;
    width: 50%;
    text-align: left;
}
/*----responsive----*/
@media(max-width:480px) {
	.payment-div {
		padding: 30px;
		width: 60%;
	}
	.payment-div h1 {
		font-size: 24px;
	}
}
@media(max-width:767px){
	.delivery-fro {
      width: 100%;
	}
	.delivery-method {
		width: 100%;
	}
}
/*----responsive----*/