﻿<%@ Page Title="" Language="C#" MasterPageFile="main.master" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="index" %>
<%@ Register src="usercontrols/ucEnquiryForm.ascx" tagname="ucEnquiryForm" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cnMaster" Runat="Server">


<div class="row">
<div class="col-sm-3 border ">
<div class="freedelivery">
 <table >
 <tr>
 <td><img src="images/free-delivery.png" alt="" /></td>
 <td><h2>FREE DELIVERY</h2>
  <p style="font-size:12px">On order Value Above $250</p></td>
 </tr>
 </table>
 
 
 </div>
</div>

<div class="col-sm-3 border ">
<div class="freedelivery">
 <table >
 <tr>
 <td><img src="images/calender.png" alt="" /></td>
 <td><h2>FREE DELIVERY</h2>
  <p style="font-size:12px">On order Value Above $250</p></td>
 </tr>
 </table>
 
 </div>
</div>



<div class="col-sm-3 ">
<div class="freedelivery">
 <table >
 <tr>
 <td><img src="images/money.png" alt="" /></td>
 <td><h2>FREE DELIVERY</h2>
  <p style="font-size:12px">On order Value Above $250</p></td>
 </tr>
 </table>
 
 
 </div>
</div>


<div class="col-sm-3">
<div class="callus">
 <table>
 <tr>
 <td><img src="images/phonepic.png" alt="" /></td>
 <td><h2>CALL US : + 91-808-227</h2>
  <p style="font-size:12px; color:#FFFFFF;">Need Help Call Us</p></td>
 </tr>
 </table>
 
 
 </div>
</div>
 
</div>
<!--Row End-->


<!--Row Start-->
<div class="row">

<div class="col-sm-3" style="padding-right:0px" >

<div class="list-group" style="margin:10px 0 0 0">
   <a href="#" class="list-group-item active">OUR CATEGORIES</a>
<asp:Repeater ID="repMenuCategories" runat="server">
<ItemTemplate>
         
   <a href="#" class="list-group-item"><%#Eval("Title") %></a>
</ItemTemplate>

</asp:Repeater>

    
          </div>
          <img src="images/shado.png" style="margin-top:-12px"/>
         
</div>

<div class="col-md-9" padding:0px>
<div class="slider">
<img src="images/slider-image.png" class="img-responsive" alt="">
</div>

</div>

</div>
<!--Row End-->



<!--Row Start-->
<div class="row" style="margin-top:15px;">

<div class="col-md-4">
<img src="images/1img.png" class="img-responsive" alt="" />

</div>

<div class="col-md-4">

<img src="images/2img.png" class="img-responsive" alt="" />
</div>

<div class="col-md-4">

<img src="images/3img.png" class="img-responsive" alt="" />
</div>

</div>
<!--Row End-->


<!--Row Start-->
<div class="row">

<div class="col-sm-9">

<div class="vegetables">
<div class="line" style="height: 2px; background-color: #abaaaa; text-align: left;margin-top:20px">
<span style="background-color: white; position: relative; top:-0.6em;font-size:25px; font-family:Verdana, Geneva, sans-serif; color:#3c3b3b; ">
      VEGETABLES 
</span>
</div>
</div>


<div class="row boxbordre">
<div class="col-md-3">

<div class="box1">
<img src="images/patato.png" style="border:solid 1px #d6d3d3; margin-left:22px; margin-top:20px;" alt="">
<span><b>(Potato New)</b></span>

<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
<select name="mydropdown" style="margin-top:5px; padding:3px;">
<option value="Milk" style="font-size:12px;">1 kg approx. 9 to</option>
<option value="Cheese" style="font-size:12px;">Old Cheese</option>
<option value="Bread" style="font-size:12px;">Hot Bread</option>
</select>
</div>
</form>
<h2>Rs.26.00</h2>
<button type="button" style="padding:2px; margin-left:10px; margin-top:10px;" class="btn btn-success"><img src="images/addimg.png" alt="" style="padding-right:5px;" >Add</button>

<div class="qty">
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">

<div style="background-color:#f4f2f2;width:68px;border:solid 1px silver;border-radius:4px">
  Qty  
<select name="mydropdown" style="margin:1px 0px 1px 0px; padding:3px;border:0px">
<option value="1" style="font-size:12px;">1</option>
<option value="2" style="font-size:12px;">2</option>
<option value="3" style="font-size:12px;">9</option>
</select>
</div>
</div>
</form>

</div>
<br>
<br>
</div>
</div>


<div class="col-md-3">

<div class="box1">
<img src="images/tamota.png" alt="" style="border:solid 1px #d6d3d3; margin-left:22px; margin-top:20px;" alt="">
<span><b>(Potato New)</b></span>

<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
<select name="mydropdown" style="margin-top:5px; padding:3px;">
<option value="Milk" style="font-size:12px;">1 kg approx. 9 to</option>
<option value="Cheese" style="font-size:12px;">Old Cheese</option>
<option value="Bread" style="font-size:12px;">Hot Bread</option>
</select>
</div>
</form>
<h2>Rs.26.00</h2>
<button type="button" style="padding:2px; margin-left:10px; margin-top:10px;" class="btn btn-success"><img src="images/addimg.png" alt="" style="padding-right:5px;" >Add</button>

<div class="qty">
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">

<div style="background-color:#f4f2f2;width:68px;border:solid 1px silver;border-radius:4px">
  Qty  
<select name="mydropdown" style="margin:1px 0px 1px 0px; padding:3px;border:0px">
<option value="1" style="font-size:12px;">1</option>
<option value="2" style="font-size:12px;">2</option>
<option value="3" style="font-size:12px;">9</option>
</select>
</div>
</div>
</form>

</div>
<br>
<br>
</div>
</div>


<div class="col-md-3">

<div class="box1">
<img src="images/green.png" alt="" style="border:solid 1px #d6d3d3; margin-left:22px; margin-top:20px;" alt="">
<span><b>(Potato New)</b></span>

<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
<select name="mydropdown" style="margin-top:5px; padding:3px;">
<option value="Milk" style="font-size:12px;">1 kg approx. 9 to</option>
<option value="Cheese" style="font-size:12px;">Old Cheese</option>
<option value="Bread" style="font-size:12px;">Hot Bread</option>
</select>
</div>
</form>
<h2>Rs.26.00</h2>
<button type="button" style="padding:2px; margin-left:10px; margin-top:10px;" class="btn btn-success"><img src="images/addimg.png" alt="" style="padding-right:5px;" >Add</button>

<div class="qty">
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">

<div style="background-color:#f4f2f2;width:68px;border:solid 1px silver;border-radius:4px">
  Qty  
<select name="mydropdown" style="margin:1px 0px 1px 0px; padding:3px;border:0px">
<option value="1" style="font-size:12px;">1</option>
<option value="2" style="font-size:12px;">2</option>
<option value="3" style="font-size:12px;">9</option>
</select>
</div>
</div>
</form>

</div>
<br>
<br>
</div>
</div>


<div class="col-md-3">

<div class="box1">
<img src="images/onion.png" alt="" style="border:solid 1px #d6d3d3; margin-left:22px; margin-top:20px;" alt="">
<span><b>(Potato New)</b></span>

<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
<select name="mydropdown" style="margin-top:5px; padding:3px;">
<option value="Milk" style="font-size:12px;">1 kg approx. 9 to</option>
<option value="Cheese" style="font-size:12px;">Old Cheese</option>
<option value="Bread" style="font-size:12px;">Hot Bread</option>
</select>
</div>
</form>
<h2>Rs.26.00</h2>
<button type="button" style="padding:2px; margin-left:10px; margin-top:10px;" class="btn btn-success"><img src="images/addimg.png" alt="" style="padding-right:5px;" >Add</button>

<div class="qty">
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">

<div style="background-color:#f4f2f2;width:68px;border:solid 1px silver;border-radius:4px">
  Qty  
<select name="mydropdown" style="margin:1px 0px 1px 0px; padding:3px;border:0px">
<option value="1" style="font-size:12px;">1</option>
<option value="2" style="font-size:12px;">2</option>
<option value="3" style="font-size:12px;">9</option>
</select>
</div>
</div>
</form>

</div>
<br>
<br>
</div>
</div>




</div>


<!--Fruit Start-->
<div class="vegetables">
<div class="line" style="height: 2px; background-color: #abaaaa; text-align: left;margin-top:50px">
<span style="background-color: white; position: relative; top:-0.6em;font-size:25px; font-family:Verdana, Geneva, sans-serif; color:#3c3b3b; ">
      Fruit
</span>
</div>
</div>

<div class="row boxbordre">
<div class="col-md-3">

<div class="box1">
<img src="images/apple.png" alt="" style="border:solid 1px #d6d3d3; margin-left:22px; margin-top:20px;" alt="">
<span><b>(Potato New)</b></span>

<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
<select name="mydropdown" style="margin-top:5px; padding:3px;">
<option value="Milk" style="font-size:12px;">1 kg approx. 9 to</option>
<option value="Cheese" style="font-size:12px;">Old Cheese</option>
<option value="Bread" style="font-size:12px;">Hot Bread</option>
</select>
</div>
</form>
<h2>Rs.26.00</h2>
<button type="button" style="padding:2px; margin-left:10px; margin-top:10px;" class="btn btn-success"><img src="images/addimg.png" alt="" style="padding-right:5px;" >Add</button>

<div class="qty">
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">

<div style="background-color:#f4f2f2;width:68px;border:solid 1px silver;border-radius:4px">
  Qty  
<select name="mydropdown" style="margin:1px 0px 1px 0px; padding:3px;border:0px">
<option value="1" style="font-size:12px;">1</option>
<option value="2" style="font-size:12px;">2</option>
<option value="3" style="font-size:12px;">9</option>
</select>
</div>
</div>
</form>

</div>
<br>
<br>
</div>
</div>


<div class="col-md-3">

<div class="box1">
<img src="images/tarboz.png" alt="" style="border:solid 1px #d6d3d3; margin-left:22px; margin-top:20px;" alt="">
<span><b>(Potato New)</b></span>

<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
<select name="mydropdown" style="margin-top:5px; padding:3px;">
<option value="Milk" style="font-size:12px;">1 kg approx. 9 to</option>
<option value="Cheese" style="font-size:12px;">Old Cheese</option>
<option value="Bread" style="font-size:12px;">Hot Bread</option>
</select>
</div>
</form>
<h2>Rs.26.00</h2>
<button type="button" style="padding:2px; margin-left:10px; margin-top:10px;" class="btn btn-success"><img src="images/addimg.png" alt="" style="padding-right:5px;" >Add</button>

<div class="qty">
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">

<div style="background-color:#f4f2f2;width:68px;border:solid 1px silver;border-radius:4px">
  Qty  
<select name="mydropdown" style="margin:1px 0px 1px 0px; padding:3px;border:0px">
<option value="1" style="font-size:12px;">1</option>
<option value="2" style="font-size:12px;">2</option>
<option value="3" style="font-size:12px;">9</option>
</select>
</div>
</div>
</form>

</div>
<br>
<br>
</div>
</div>


<div class="col-md-3">

<div class="box1">
<img src="images/lechi.png" alt="" style="border:solid 1px #d6d3d3; margin-left:22px; margin-top:20px;" alt="">
<span><b>(Potato New)</b></span>

<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
<select name="mydropdown" style="margin-top:5px; padding:3px;">
<option value="Milk" style="font-size:12px;">1 kg approx. 9 to</option>
<option value="Cheese" style="font-size:12px;">Old Cheese</option>
<option value="Bread" style="font-size:12px;">Hot Bread</option>
</select>
</div>
</form>
<h2>Rs.26.00</h2>
<button type="button" style="padding:2px; margin-left:10px; margin-top:10px;" class="btn btn-success"><img src="images/addimg.png" alt="" style="padding-right:5px;" >Add</button>

<div class="qty">
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">

<div style="background-color:#f4f2f2;width:68px;border:solid 1px silver;border-radius:4px">
  Qty  
<select name="mydropdown" style="margin:1px 0px 1px 0px; padding:3px;border:0px">
<option value="1" style="font-size:12px;">1</option>
<option value="2" style="font-size:12px;">2</option>
<option value="3" style="font-size:12px;">9</option>
</select>
</div>
</div>
</form>

</div>
<br>
<br>
</div>
</div>


<div class="col-md-3">

<div class="box1">
<img src="images/orange.png" alt="" style="border:solid 1px #d6d3d3; margin-left:22px; margin-top:20px;" alt="">
<span><b>(Potato New)</b></span>

<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
<select name="mydropdown" style="margin-top:5px; padding:3px;">
<option value="Milk" style="font-size:12px;">1 kg approx. 9 to</option>
<option value="Cheese" style="font-size:12px;">Old Cheese</option>
<option value="Bread" style="font-size:12px;">Hot Bread</option>
</select>
</div>
</form>
<h2>Rs.26.00</h2>
<button type="button" style="padding:2px; margin-left:10px; margin-top:10px;" class="btn btn-success"><img src="images/addimg.png" alt="" style="padding-right:5px;" >Add</button>

<div class="qty">
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">

<div style="background-color:#f4f2f2;width:68px;border:solid 1px silver;border-radius:4px">
  Qty  
<select name="mydropdown" style="margin:1px 0px 1px 0px; padding:3px;border:0px">
<option value="1" style="font-size:12px;">1</option>
<option value="2" style="font-size:12px;">2</option>
<option value="3" style="font-size:12px;">9</option>
</select>
</div>
</div>
</form>

</div>
<br>
<br>
</div>
</div>

</div>

<!--Fruit End-->
 
</div>



<div class="col-md-3">
<div class="yourbasket">

<div id="dvTopBasket" style="border-bottom:solid 2px #d4d4d4;;padding:6px">
<img src="images/basket.png" alt="" > <h6 style="float:right;margin-right:20px;font-size:16px">Your Basket (3 items)</h6>
 </div>
 
<div class="basketitem">
 <table style="border-bottom:solid 2px #d4d4d4;" >
 <tr>
 <td style="vertical-align:top;padding-top:8px"><img src="images/firstitem.png" style="margin:5px" alt="" /></td>




 <td style="padding-top:10px">
 
  

   <table>
 <tr><td><h4><b>FRESHO</b></h4></td></tr>


 <tr>
 <td><h5>Fresho Pome granate - Gold 1 kg
 (approx. 4 to 5 nos)</h5></td></tr>


 <tr>
 

  <td style="padding-top:10px;padding-bottom:10px">
 
 <div class="button">
 <div style="width:47px;float:left;border:solid 1px silver;border-radius:5px;background:#d2cfcf;" />
 <div style="width:15px;float:left;background:#d2cfcf;padding:0px 0 0 3px;">-</div>
 <div style="width:15px;float:left;background:white;padding:0px 0 0 3px;">1</div>
 <div style="width:15px;float:left;background:#d2cfcf;padding:0px 0 0 3px;">+</div>
 </div>
 
 <span style="color:#f40f00;margin-left:10px">Rs 900.00</span>
 
 
 </td>


 </tr>

 
 
 
 </table>




 </td>
 </tr>
 </table>
 


 <table style="border-bottom:solid 2px #d4d4d4;" >
 <tr>
 <td style="vertical-align:top;padding-top:8px"><img src="images/seconditem.png" style="margin:5px" alt="" /></td>
 
 <td style="padding-top:10px">
 
   <table>
 <tr><td><h4><b>FRESHO</b></h4></td></tr>


 <tr>
 <td><h5>Fresho Pome granate - Gold 1 kg
 (approx. 4 to 5 nos)</h5></td></tr>


 <tr>
 

  <td style="padding-top:10px;padding-bottom:10px">
 
 <div class="button">
 <div style="width:47px;float:left;border:solid 1px silver;border-radius:5px;background:#d2cfcf;" />
 <div style="width:15px;float:left;background:#d2cfcf;padding:0px 0 0 3px;">-</div>
 <div style="width:15px;float:left;background:white;padding:0px 0 0 3px;">1</div>
 <div style="width:15px;float:left;background:#d2cfcf;padding:0px 0 0 3px;">+</div>
 </div>
 
 <span style="color:#f40f00;margin-left:10px">Rs 900.00</span>
 
 
 </td>


 </tr>

 
 
 
 </table>
  </td>
 </tr>
 </table>

 
  <table style="border-bottom:solid 2px #d4d4d4;" >
 <tr>
 <td style="vertical-align:top;padding-top:8px"><img src="images/thirld-item.png" style="margin:5px" alt="" /></td>
 
 <td style="padding-top:10px">
 
   <table>
 <tr><td><h4><b>FRESHO</b></h4></td></tr>


 <tr>
 <td><h5>Fresho Pome granate - Gold 1 kg
 (approx. 4 to 5 nos)</h5></td></tr>


 <tr>
 

  <td style="padding-top:10px;padding-bottom:10px">
 
 <div class="button">
 <div style="width:47px;float:left;border:solid 1px silver;border-radius:5px;background:#d2cfcf;" />
 <div style="width:15px;float:left;background:#d2cfcf;padding:0px 0 0 3px;">-</div>
 <div style="width:15px;float:left;background:white;padding:0px 0 0 3px;">1</div>
 <div style="width:15px;float:left;background:#d2cfcf;padding:0px 0 0 3px;">+</div>
 </div>
 
 <span style="color:#f40f00;margin-left:10px">Rs 900.00</span>
 
 
 </td>


 </tr>

 
 
 
 </table>
  </td>
 </tr>
 </table>
 
 
 
 
 <table>
 <tr>
 <td style="padding:10px 0px 0px 70px;">
 <table>
 <tr><td><h4><b>Sub Total: Rs. 267.8</b></h4></td></tr>
 <tr>
 <td><h5>Delivery Charges: Rs. 20</h5></td>
 <tr>
 <td><h5 style="color:#f40f00;margin-left:10px">Total: Rs. 287.8</h5></td>
 <tr>
 <td style="padding:10px 0 0 50px;">
 <button type="button" class="btn btn-success">Checkout</button>
 
 </td>
 </tr>
 </table>
 </td>
 </tr>
 </table>
 
 
 
 
 
<br>

 
 
 
 </div>
 
</div>



 
<div class="yourbasket">
<div class="enqury"><h2>ENQUIRY FORM</h2></div>
<uc1:ucEnquiryForm ID="ucEnquiryForm1" runat="server" />
    </div>
   	
    <br />
 <br />
    <br />
 
 
</div>


</div>





<div class="row">
<div class="col-md-4">
<div class="paypal">
<img src="images/footer-img.png" alt="" />
</div>
</div>
<div class="col-md-4">
<div class="paypal">
<table>
<tr><td><h4 style="font-size:18px; font-weight:700;">Are you Hooked on Gadgets?</h4></td>
<tr><td><h4 style="font-size:14px; padding:5px 0 0 0; font-weight:300;">Then, you will love our Mobile Apps
Download the HungerQuenchers Apps on</h4></td></tr>
<td style="vertical-align:top;padding-top:8px"><img src="images/googleply.png" style="margin:5px" alt=""> <img src="images/appstore.png" style="margin:5px" alt=""></td>
<tr><td><h4 style="font-size:14px; font-weight:300;">and Enjoy our Services on the Go</h4></td>

</table>
</div>
</div>
<div class="col-md-4">
<div class="paypal">
<img src="images/paypalimg.png" alt="" class="img-responsive"/>

</div>
</div>

</div>


</asp:Content>

