﻿<%@ Page Title="" Language="C#" MasterPageFile="~/backoffice/Reports/admin.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="backoffice_Reports_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
</asp:Content>

