/*********************
	HTML Elements
*********************/
*{
	margin:0;
	padding:0;
}

#top-panel ul::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5;}
#top-panel ul::-webkit-scrollbar {width: 15px; background-color: #F5F5F5;}
#top-panel ul::-webkit-scrollbar-thumb {background-color: #294145; border-radius: 25px;}

img, div,a { behavior: url(css/iepngfix.htc) }
body{
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
}
a, a:visited{
	text-decoration:none;
}
img{
	border:0;
	margin:1px;
}
p{
	padding:3px;
}
h2{

}
input{
	padding:2px;
}
select{
	padding:2px;
}
/*********************
	Structure
*********************/
#container{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
#header {
    width: 100%;
    float: left;
    padding: 9px 30px;
    background-color: #4a90e2;
}
#header h2{
margin-top:20px;
}
#content {
    width: 80%;
    float: left;
    margin: 0px 0 10px 0;
    padding: 0px !important;
}
#sidebar{
	background:#FFF;
	width:170px;
	float:right;
	margin:10px 0 10px 0;
	padding:10px;
}
#footer {
    clear: both;
    padding: 15px 0;
    margin-top: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    float: left;
    left: 0;
    right: 0;
}
#box h3{
	padding:5px;
	font-size:14px;
}
/*********************
	Sidebar
*********************/
#sidebar ul{
	list-style:none;
	line-height:22px;
}
#sidebar ul li a,#sidebar ul li a:visited{
	padding-left:19px;
	text-decoration:none;
	margin:0 3px;
	display:block;
}
#sidebar ul li a:hover{
	text-decoration:underline;
}
#sidebar ul li ul{
	margin-left:10px;
}
#sidebar h3{
	padding:2px;
	font-size:14px;
}
/*********************
  TopMenu, Top-Panel
*********************/
#topmenu {
    margin: 25px 0 25px;
    width: 100%;
    float: left;
}
#topmenu ul {
    list-style: none;
    line-height: 25px;
    margin: 0px;
    border: 1px solid #294145;
    padding: 0px 0;
    background-color: #294145;
        width: 100%;
    float: left;
}
#topmenu li {
    float: left;
    background-color: #1a9415;
    width: 20%;
    border-right: 1px solid #fff;
    text-align: center;
}
#topmenu li:last-child {
    border: none;
}
#topmenu a, #topmenu a:visited {
    text-decoration: none;
    width: 100%;
    float: left;
}
#topmenu .current a, #topmenu .current a:hover, #topmenu .current a:visited{
	padding:0px;
	font-weight:bold;
	
}
.welcome_to h1 {
    margin: 0px;
    text-align: center;
    padding: 22.4% 0;
    color: #4a90e2;
    font-size: 50px;
    font-weight: 600;
}
#top-panel {
    background: #FFF;
    padding: 0 0;
    height: auto;
    float: left;
    width: 20%;
}
#top-panel ul {
    list-style: none;
    /*display: grid;*/
    height: 435px;
    overflow: auto;
    width: 100%;
    float: left;
        overflow-x: hidden;
            margin: 0px;
}
.top_panel_heading {
        padding: 9px;
    float: left;
    width: 100%;
    margin: 0px;
    background-color: #294145 !important;
        border-right: 1px solid #fff;
}
.top_panel_heading span {
    display: block;
    text-align: left;
    float: left;
    padding: 0px;
    font-size: 20px;
    color: #fff;
}
#top-panel ul li {
    line-height: 20px;
    width: 100%;
    float: left;
    background-color: #4a90e2;
    padding: 0px 0;
    text-align: center;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
#top-panel ul li a {
    padding: 10px 0px 10px 20px;
    text-decoration: none;
    margin: 0 3px;
    display: inline-block;
    color: #fff;
    width: 100%;
    text-align: left;
}
#top-panel a:hover{
	text-decoration:underline;
}
/*********************
		Other
*********************/
.a-right{text-align:right;}
.a-left{text-align:left;}
.a-center{text-align:center;}
#pager{
	margin:5px;
	height:25px;
}
#styleswitcher{
	float:right;
}
#styleswitcher ul{
	list-style:none;
	line-height:10px;
}
#styleswitcher li{
	height:12px;
	display:inline;
}
#footer ul {
	list-style:none;
}
#footer li {
	display:inline;
}
a#defswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#bd3f09;
	font-size: 8px;
	color:#bd3f09;
	display:inline-block;
}
a#blueswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#375b91;
	font-size: 8px;
	color:#375b91;
	display:inline-block;
}
a#greenswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#d0e0b8;
	font-size: 8px;
	color:#d0e0b8;
	display:inline-block;
}
a#brownswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#654322;
	font-size: 8px;
	color:#654322;
	display:inline-block;
}
a#mixswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#294145;
	font-size: 8px;
	color:#294145;
	display:inline-block;
}
#credits {
    clear: both;
    width: 100%;
    float: left;
    text-align: center;
}
/*********************
		Tables
*********************/
table{
	margin:5px;

	 
}

.customTable tr:nth-child(even) {background: #C2DEE2}
.customTable tr:nth-child(odd) {background: #D9EAED}

 
td, th{
	padding: 2px;
} 
thead{

}
/*********************
		Home
*********************/
#infowrap li{
	display:inline:
}
#infobox{
	width:365px;
	float:left;
	margin-top:10px;
}
#infobox h3{
	padding:5px;
	font-size:14px;
}
.margin-left{
	margin-left:5px;
}
#rightnow .reallynow {
    padding: 9px;
    float: left;
    width: 100%;
    margin: 0px;
    background-color: #294145  !important;
}
#rightnow h3{
	padding:2px;
	padding: 0 10px;
	font-size:14px;
}
#rightnow .reallynow span {
    display: block;
    text-align: left;
    float: left;
    padding: 0px;
    font-size: 20px;
        color: #fff;
}
#rightnow .reallynow a {
	text-decoration:none;
	display: block;
	text-align: right;
	float: right;
	padding:0 0 0 18px;
	margin-left:4px;
	font-weight:normal;
	font-size:12px;
}
#rightnow .reallynow a:hover{
	text-decoration:underline;
}
#rightnow .youhave {
    font-size: 12px;
    padding: 25px 25px;
    width: 100%;
    float: left;
}
#Div1 .youhave {
    font-size: 12px;
    padding: 25px 25px;
    width: 100%;
    float: left;
}
.log_out a {
    margin: 0 0 0 25px;
    color: #fff !important;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none !important;
    background-color: #294145;
    padding: 6px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}
.log_out a:hover {
    background-color: #ff0000;
}
#rightnow a {
	font-weight: bold;
}
/*********************
		Forms
*********************/
form{
	padding:10px;
	margin:0 auto;
}
form#form fieldset {
	display:block;
	padding:5px 10px 5px 10px;
	line-height:20px;
	margin-bottom:10px;
}
form#form legend {
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
	padding:3px;
	width:254px;
}
form#form label {
	clear:left;
	display:block;
	float:left;
	width:100px;
	text-align:right;
	padding-right:10px;
	margin-bottom:5px;
}
form#form input {
	padding:3px;
	margin-bottom:5px;
}
form#form select {
	margin-left:5px;
}
form#form textarea {
	width:410px;
	height:200px;
	padding:5px;
	overflow:auto;
}
form#form option {
	background:#FFF;
}
form#form optgroup option {

}
form#form #button1, form#form #button2 {
	padding-right:5px;
	cursor:pointer;
	width:205px;
	margin-left:8px;
	font-weight:bold;
}
form#form #button1:hover, form#form #button2:hover {
	background-position:center left;
}

/*********************
	Icons
*********************/
.icon{
	padding-left:19px;
	text-decoration:none;
	height:20px;
	font-size:12x;
	margin:0 3px;
	display:inline-block;
	line-height:20px;
}
.user{background:transparent url(../img/icons/user.png) no-repeat left;}
.useradd{background:transparent url(../img/icons/user_add.png) no-repeat left;}
.group{background:transparent url(../img/icons/group.png) no-repeat left;}
.search{background:transparent url(../img/icons/magnifier.png) no-repeat left;}
.online{background:transparent url(../img/icons/world.png) no-repeat left;}
.pagenew{background:transparent url(../img/icons/page_add.png) no-repeat left;}
.rss{background:transparent url(../img/icons/rss.png) no-repeat left;}
.feed{background:transparent url(../img/icons/feed.png) no-repeat left;}
.report{background:transparent url(../img/icons/report.png) no-repeat left;}
.house{background:transparent url(../img/icons/house.png) no-repeat left;}
.manage{background:transparent url(../img/icons/cog.png) no-repeat left;}
.manage_page{background:transparent url(../img/icons/page_gear.png) no-repeat left;}
.folder{background:transparent url(../img/icons/folder.png) no-repeat left;}
.promotions{background:transparent url(../img/icons/coins.png) no-repeat left;}
.cart{background:transparent url(../img/icons/cart.png) no-repeat left;}
.folder_table{background:transparent url(../img/icons/folder_page.png) no-repeat left;}
.shipping{background:transparent url(../img/icons/car.png) no-repeat left;}
.invoices{background:transparent url(../img/icons/page_white_text_width.png) no-repeat left;}
.addorder{background:transparent url(../img/icons/folder_page_add.png) no-repeat left;}
.add{background:transparent url(../img/icons/add.png) no-repeat left;}
.app_add{background:transparent url(../img/icons/application_add.png) no-repeat left;}
.report_seo{background:transparent url(../img/icons/report_link.png) no-repeat left;}
.modules{background:transparent url(../img/icons/bricks.png) no-repeat left;}
.modules_manage{background:transparent url(../img/icons/bricks_gear.png) no-repeat left;}
.item{background:transparent url(../img/icons/add_item.png) no-repeat left;}
.bank{background:transparent url(../img/icons/bank.png) no-repeat left;}
.location{background:transparent url(../img/icons/AWT_Location.png) no-repeat left;}
.category{background:transparent url(../img/icons/categories.png) no-repeat left;}
.subcategory{background:transparent url(../img/icons/subcategory.png) no-repeat left;}
.city{background:transparent url(../img/icons/City.png) no-repeat left;}
.company{background:transparent url(../img/icons/company.png) no-repeat left;}
.contractor{background:transparent url(../img/icons/contractor_16.png) no-repeat left;}
.project{background:transparent url(../img/icons/Project.png) no-repeat left;}
.supplier{background:transparent url(../img/icons/suppliers.png) no-repeat left;}
.customer{background:transparent url(../img/icons/customers.png) no-repeat left;}
.structure{background:transparent url(../img/icons/STRUCTURE.png) no-repeat left;}
.godown{background:transparent url(../img/icons/GODOWN.png) no-repeat left;}
.itemtype{background:transparent url(../img/icons/ITEM_TYPE.png) no-repeat left;}
.tax{background:transparent url(../img/icons/TAX.png) no-repeat left;}
.unit{background:transparent url(../img/icons/UNIT.jpg) no-repeat left;}
.work{background:transparent url(../img/icons/WORK.png) no-repeat left;}
.workgroup{background:transparent url(../img/icons/WorkGroup.png) no-repeat left;}
.department{background:transparent url(../img/icons/DEPARTMENT.png) no-repeat left;}
.state{background:transparent url(../img/icons/STATE.png) no-repeat left;}
.subgroup{background:transparent url(../img/icons/SUBGROUP.png) no-repeat left;}
.addicon{background:transparent url(../img/icons/Addicon.png) no-repeat left;}
.remove{background:transparent url(../img/icon_trash.gif) no-repeat left;}
.Stock{background:transparent url(../img/3a.png) no-repeat left;}
.Pur{background:transparent url(../img/5a.png) no-repeat left;}
.Supp{background:transparent url(../img/1a.png) no-repeat left;}
.SuppId{background:transparent url(../img/2a.png) no-repeat left;}
.Disp{background:transparent url(../img/8a.png) no-repeat left;}
.Datebar{background:transparent url(../img/11a.png) no-repeat left;}
.Barc{background:transparent url(../img/12a.png) no-repeat left;}
.Ledger{background:transparent url(../img/6a.png) no-repeat left;}




.contant_editor {
    float: left;
    box-shadow: 3px 3px 5px #00000061;
    background-color: #ffffff85;
}

